// Requirements
// ============

@import "susy";

/*Define grid - 12 col/after*/

$susy: (
    columns: 12, 
    gutters: 1/2,
    math: fluid,
    output: float,
    gutter-position: after,
    clearfix: true,
    box-sizing: border-box
    /*Grid overlay image*/
    // debug: (image:show)
    );

/*Responsive breakpoints for varying screen sizes*/
$BREAKPOINTS: (
    'mobile': (min-width: 300px),
    'tablet': (min-width: 733px),
    'laptop': (min-width: 1200px),
    'desktop': (min-width: 1400px),

    );


