@import "susy";
@import "grids";
@import "breakpoint";
@import "compass/css3";
$browser-minimum-versions: ( "ie": "8");

/*Footer social icons mixin*/
@mixin iconHover($color) {
    @include respond-to(mobile) {
        height: 36px;
        width: 36px;
        line-height: 36px;
    }
    @include respond-to(laptop) {
        height: 24px;
        width: 24px;
        line-height: 24px;
    }
    float: left;
    background: #D5D8DB;
    &:hover {
        background: $color;
        @include transition(background, 0.3s ease-in);
    }
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    background: #fff;
    margin: 0;
}

h1,
h3 {
    text-transform: uppercase;
}

h3 {
    color: #495f73;
    margin-top: 0;
    padding-top: gutter();
}


img {
    @include respond-to(mobile) {
        max-width: 100%;
        margin: 0 auto;
    }
    @include respond-to(tablet) {
        width: 100%;
        margin: 0;
    }
    display: block;
}

.text {
    font-size: 1rem;
    line-height: 24px;
    margin-top: 0;
    color: #495f73;
    margin-bottom: 2rem;
}

.title {
    @include respond-to(mobile) {
        margin-top: 24px;
    }
    @include respond-to(tablet) {
        margin-top: 48px;
    }
    margin-bottom: 0;
    color: #495f73;
    font-size: 22px;
}

.title > a {
    margin-bottom: 0;
    font-size: 1.375rem;
    line-height: 24px;
}

.sub-title {
    color: #728391;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 1.5rem;
    margin-top: 0;
}

.section-title,
.section-subtitle {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #0065bd;
    font-size: 12px;
    &:hover {
        color: #2893ff;
        transition: all 0.3s ease-in;
    }
}

.outer-wrap {
    @include container(100%);
    margin: 0;
}

.inner-wrap {
    @include respond-to(mobile) {
        @include container(95%);
    }
    /*Constrain max-width to 1000px for desktop view*/
    @include respond-to(laptop, desktop) {
        @include container(1000px);
    }
}


/*Navigation menu styles*/

@import 'partials/navigation';

/*Image carousel */

.image-carousel {
    @include respond-to(mobile) {
        display: none;
    }
    @include respond-to(tablet) {
        display: block;
        height: 400px;
        background-repeat: no-repeat;
        background-position: 50%;
        overflow: hidden;
        @include span(12 no-gutters);
    }
}

.carousel-wrap {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slideAway infinite;
}

/*Image carousel items*/
.img1 {
    background: url('../img/fullwidth1.jpg');
}

.img2 {
    background: url('../img/fullwidth2.jpg');
}

.img3 {
    background: url('../img/fullwidth3.jpg');
}

.img4 {
    background: url('../img/fullwidth4.jpg');
}

.img1,
.img2,
.img3,
.img4 {
    height: 400px;
    background-position: 50%;
    width: 20%;
    float: left;
}

/*Image carousel animation*/
@keyframes slideAway {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -300%;
    }
}


/*Product section*/

.products {
    @include span(12 no-gutters);
    background: #fff;
    padding-top: gutter() * 2;
    padding: 24px 0;
}

.product-spotlight {
    @include respond-to(mobile) {
        @include span(12);
        margin-bottom: 24px;
    }
    @include respond-to(tablet) {
        @include span(4 of 12);
        &:last-child {
            @include last;
        }
    }
    @include respond-to(laptop) {
        @include span(4 of 12);
        /*Force last column to remove right margin*/
        &:last-child {
            @include last;
        }
    }
}

.product-content {
    border-right: 1px solid #ededed;
    border-left: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    text-align: center;
    padding: 24px 34px 88px;
}

.buy-button {
    @include respond-to(mobile) {
        @include span(12);
        height: 40px;
    }
    background: #0065bd;
    padding: 11px 15px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    &:hover {
        color: #fff;
        background: #2893ff;
    }
}


/*Order by 9pm title*/

.order-by {
    @include respond-to(mobile) {
        display: none;
    }
    @include respond-to(tablet) {
        display: block;
    }
    a {
        color: #495f73;
        font-size: 22px;
        font-weight: 200;
    }
}


/*Recommendations/New In area*/

.recommendations {
    @include span(12 no-gutters);
    padding: 0 0 24px 0;
    img {
        max-width: 120px;
        margin: 0 auto;
    }
}


/* Styles for pure CSS tabs*/

.tab-wrap {
    @include span(12);
    position: relative;
    border: 1px solid #d5dade;
}

#rec-items,
#new-tab {
    display: none;
}

input[name="tab"] {
    display: none;
}

label {
    @include span(6 of 12 inside);
    background: #f0f0f0;
    text-align: center;
    display: inline-block;
    line-height: 50px;
    height: 50px;
    border-bottom: 1px solid #d5dade;
}

label:hover {
    cursor: pointer;
    color: #444f51;
}

#rec-items,
#new-items {
    @include respond-to(mobile) {
        padding: 0 2%;
    }
    display: none;
    border-bottom: 1px solid #ededed;
    padding: 0 5% 10% 5%;
}

#new-tab:checked ~ #new-items,
#rec-tab:checked ~ #rec-items {
    display: block;
    overflow: auto;
}

input[name="tab"]:checked + label {
    background: #fff;
    border-bottom: 1px solid #fff;
}

input[name="tab"]:not(:checked) + label {
    color: #728391;
    background: #f1f2f2;
    border-bottom: 1px solid #d5dade;
    &:hover {
        color: #2893ff;
        transition: all 0.3 ease-in;
    }
}

#new-tab:checked + label {
    border-left: 1px solid #d5dade;
}

#rec-tab:checked + label {
    border-right: 1px solid #d5dade;
}

.gallery-item {
    @include respond-to(mobile) {
        @include span(12/2);
        &:nth-child(2n) {
            @include last;
        }
    }
    @include respond-to(tablet) {
        @include span(12/3);
        /*Negate mobile gutter*/
        &:nth-child(2n) {
            margin-right: gutter();
            float: left;
        }
        &:nth-child(3n) {
            @include last;
        }
    }
    @include respond-to(laptop) {
        @include span(12/4);
        /*Negate mobile gutter*/
        &:nth-child(2n) {
            margin-right: gutter();
            float: left;
        }
        /*Negate laptop gutter*/
        &:nth-child(3n) {
            margin-right: gutter();
            float: left;
        }
        &:nth-child(4n) {
            @include last;
        }
    }
    text-align: center;
    padding-bottom: 60px;
    margin-top: 24px;
    /*Selects every 4th gallery item to remove after margin*/
}

.rating-box {
    @include respond-to(mobile) {
        color: #FA9E1C;
        font-size: 20px;
    }
    @include respond-to(laptop) {
        font-size: 18px;
    }
}

.product-name {
    margin-top: 0;
    margin-bottom: 6px;
    a {
        color: #495f73;
        font-size: 14px;
        font-weight: 700;
    }
}

.product-price {
    margin-top: 0;
    color: #495f73;
    font-size: 16px;
}

.product-button {
    background: #0065bd;
    padding: 11px 15px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    &:hover {
        color: #fff;
        background: #2893ff;
    }
}


/*Social section*/

.social {
    @include span(12);
    padding: 24px 0;
    background: #f1f2f2;
}

.social-title {
    @include respond-to(mobile) {
        margin: 0 0 24px 0;
    }
    @include respond-to(tablet) {
        margin: 48px 0 24px 0;
    }
    text-align: center;
    color: #495f73;
    font-size: 22px;
}

.social-item {
    @include respond-to(mobile) {
        @include span(12);
        margin-bottom: 24px;
        text-align: center;
    }
    @include respond-to(tablet) {
        @include span(4 of 12);
        min-height: 320px;
    }
    @include respond-to(laptop) {
        @include span(4 of 12);
        margin-bottom: 0;
        text-align: left;
        min-height: auto;
    }
    background: #fff;
    padding: 12px 24px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #b7bfc6;
    min-height: 230px;
    color: #495f73;
    line-height: 24px;
    &:last-child {
        @include last;
    }
}

.social-header {
    @include respond-to(mobile) {
        text-align: center;
    }
    @include respond-to(laptop) {
        text-align: left;
    }
    padding-bottom: 6px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 12px;
    h3 {
        margin: 0;
        line-height: 18px;
        padding: 0;
        a {
            font-size: 18px;
            text-transform: none;
            font-weight: 300;
            color: #495f73;
        }
    }
    a {
        i {
            @include respond-to(mobile) {
                float: none;
                margin: 0;
            }
            @include respond-to(laptop) {
                float: left;
                margin: 0 10px 0 0;
            }
            font-size: 30px;
        }
    }
}

.twitter-icon,
.facebook-icon,
.google-plus-icon {
    height: 28px;
    width: 28px;
    margin-right: 12px;
    position: relative;
    float: left;
}

.twitter-icon {
    color: #5EAADE;
}

.facebook-icon {
    color: #3A5899;
}

.google-plus-icon {
    color: #d34836;
}

.followers {
    color: #b7bfc6;
    margin: 0;
    line-height: 24px;
}

.social-handle {
    font-weight: 700;
    margin-bottom: 0;
    color: #495f73;
}

.social-quote {
    margin-bottom: 24px;
    margin-top: 0;
}

.social-subquote {
    margin-bottom: 24px;
    margin-top: 0;
    font-size: 12px;
}


/*Promo banner section*/

.promo {
    @include span(12);
    background: #fff;
    padding: 24px 0 48px 0;
}

.promo-item {
    @include respond-to(mobile) {
        @include span(12);
        text-align: center;
    }
    @include respond-to(laptop) {
        @include span(6);
        text-align: left;
        &:nth-child(2n+1) {
            margin-right: 0;
        }
    }
    color: #495f73;
    padding-top: 24px;
}

.promo-item-icon {
    @include respond-to(mobile) {
        float: none;
        margin: 24px auto;
    }
    @include respond-to(laptop,
    desktop) {
        float: left;
        margin: 5px 10px 42px 0;
    }
    width: 36px;
    height: 36px;
    background: #495f73;
    text-align: center;
    float: left;
    i {
        color: #fff;
        line-height: 36px;
        font-size: 26px;
    }
}

.promo-item-header {
    display: inline;
    margin: 0;
    a {
        color: #495f73;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
    }
}

.promo-item-text {
    @include respond-to(mobile) {
        max-width: 400px;
        margin: 0 auto;
    }
    @include respond-to(tablet) {
        max-width: 100%;
    }
    margin: 0;
    a {
        color: #495f73;
        font-size: 16px;
        line-height: 24px;
    }
}

footer {
    @include span(12);
}

.newsletter {
    @include span(12);
    background: #f1f2f2;
    text-align: center;
    color: #495f73;
    line-height: 24px;
    padding-bottom: 24px;
    h1 {
        font-weight: 300;
    }
}

.newsletter-text {
    margin: 6px 0 24px 0;
}

.email-input {
    @include respond-to(mobile) {
        width: 70%;
    }
    @include respond-to(tablet) {
        width: 50%;
    }
    @include respond-to(laptop) {
        width: 30%;
    }
    height: 36px;
    display: inline-block;
    padding: 0 0 0 8px;
    line-height: 36px;
    border: 1px solid #ccc;
    position: relative;
    color: #728391;
    font-size: 16px;
}

.sign-up-btn {
    height: 38px;
    border: 0;
    position: relative;
    top: 0;
    right: 5px;
    padding: 10px 12px;
    margin-bottom: 0;
    border-radius: 0 4px 4px 0;
    text-transform: uppercase;
    color: #fff;
    background: #0060c1;
    cursor: pointer;
    line-height: 19px;
    &:hover {
        background: #2893ff;
        @include transition(all,
        0.3s ease-in);
    }
}

.accolades {
    @include respond-to(mobile) {
        display: none;
    }
    @include respond-to(tablet) {
        display: block;
    }
    @include span(12);
    background: #495F73;
    padding-bottom: 24px;
}

.acc-item {
    @include span (12/5);
    padding: 20px;
    text-align: center;
    &:last-child {
        @include last;
    }
    > i {
        @include respond-to(mobile) {
            font-size: 3em;
        }
        @include respond-to(laptop) {
            font-size: 6em;
        }
        color: #DADEE2;
    }
}

.acc-item-text {
    color: #fff;
    font-size: 12px;
    margin: 0;
    &:first-of-type {
        margin-top: 20px;
    }
}

.links {
    @include respond-to(mobile) {}
    @include respond-to(tablet) {
        padding-top: 24px;
    }
    @include span(12);
    background: #303E4B;
}

.links-third {
    @include respond-to(mobile) {
        @include span(12);
        text-align: center;
        padding: 24px 0;
        border-bottom: 1px solid #293540;
        &:last-child {
            border-bottom: none;
        }
    }
    @include respond-to(tablet) {
        @include span(12/2);
        padding: 0 0 12px 0;
        text-align: left;
        &:nth-child(2) {
            margin-right: 0;
            float: left;
        }
        &:nth-child(3) {
            @include span(12);
        }
    }
    @include respond-to(laptop) {
        @include span(12/3);
        &:nth-child(2) {
            margin-right: gutter();
        }
        &:nth-child(3) {
            margin-right: 0;
            @include span(12/3);
        }
        &:last-child {
            @include last;
        }
    }
    ul {
        line-height: 24px;
    }
    a {
        font-size: 12px;
        color: #b7bfc6;
        &:hover {
            color: #fff;
            @include transition(all,
            0.3s,
            ease-in);
        }
    }
}

.links-third-left,
.links-third-right {
    @include span(6 no-gutters);
}

.community,
.payment {
    @include respond-to(mobile) {
        @include span(12);
        text-align: center;
        padding-bottom: 24px;
        .links-title:last-of-type {
            margin-top: 24px;
        }
    }
    @include respond-to(tablet) {
        @include span(6);
        &:last-child {
            margin-right: 0;
        }
    }
    @include respond-to(laptop) {
        @include span(6);
        text-align: left;
        .links-title:last-of-type {
            margin-top: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.links-title {
    margin: 0 0 12px 0;
    a {
        font-size: 16px;
        font-weight: 700;
        color: #fff;
    }
}

.social-links {
    @include respond-to(mobile) {
        display: inline-block;
    }
    @include respond-to(laptop) {
        display: block;
    }
    li {
        display: inline;
        float: left;
        margin-right: 5px;
    }
    i {
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        font-size: 18px;
        color: #303E4B;
        &:hover {
            color: #fff;
        }
    }
}

.payment-links {
    @include respond-to(mobile) {
        display: inline-block;
    }
}

.facebook-icon-wrap {
    @include iconHover(#3A5899);
}

.twitter-icon-wrap {
    @include iconHover(#5EAADE);
}

.google-icon-wrap {
    @include iconHover(#DE2621);
}

.youtube-icon-wrap {
    @include iconHover(#DE2621);
}

.instagram-icon-wrap {
    @include iconHover(#984C84);
}

.payment-links {
    li {
        display: inline;
        float: left;
    }
    i {
        width: 42px;
        height: 30px;
        line-height: 24px;
        color: #D5D8DB;
        font-size: 24px;
    }
}

.copyright {
    @include span(12);
    background: #303e4b;
}

.address {
    margin: 0;
    color: #728391;
    font-size: 12px;
    @include span(8);
    line-height: 18px;
}

.footer-logo {
    @include span(4 no-gutters);
    text-transform: uppercase;
    color: #728391;
    text-align: right;
    margin: 0;
}

.thicker {
    font-weight: 700;
}

.copyright-border {
    padding: 12px 0;
    border-top: 1px solid #293540;
    border-bottom: 1px solid #293540;
}

.copyright-bottom {
    @include span(12);
    height: 110px;
}

.copyright-product {
    text-align: right;
    line-height: 4em;
    i {
        font-size: 4em;
        vertical-align: middle;
    }
    a {
        text-decoration: underline;
        color: #A6AEB6;
        &:hover {
            color: #fff;
        }
    }
}
