/*Define grid - 12 col/after*/
/*Responsive breakpoints for varying screen sizes*/
/* line 5, ../../sass/partials/navigation.scss */
.logo-wrap {
  margin: 24px 0 24px 0;
}
@media (min-width: 300px) {
  /* line 5, ../../sass/partials/navigation.scss */
  .logo-wrap {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    margin: 20px 0 0 0;
  }
}
@media (min-width: 1200px) {
  /* line 5, ../../sass/partials/navigation.scss */
  .logo-wrap {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 22.85714%;
    float: left;
    margin-right: 2.85714%;
    text-align: left;
    margin-top: 24px;
  }
}

@media (min-width: 300px) {
  /* line 19, ../../sass/partials/navigation.scss */
  .logo-text {
    display: block;
    margin: 0;
    width: 183px;
    height: 36px;
    background: url("../img/logo.png");
    text-indent: -9999px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  /* line 19, ../../sass/partials/navigation.scss */
  .logo-text {
    float: left;
  }
}

/*Search form styles*/
/* line 37, ../../sass/partials/navigation.scss */
fieldset, #search-form-fixed fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

/* line 44, ../../sass/partials/navigation.scss */
.search-wrap {
  position: relative;
  margin: 24px 0;
}
@media (min-width: 300px) {
  /* line 44, ../../sass/partials/navigation.scss */
  .search-wrap {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 733px) {
  /* line 44, ../../sass/partials/navigation.scss */
  .search-wrap {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 65.71429%;
    float: left;
    margin-right: 2.85714%;
    margin-left: 17.14286%;
  }
}
@media (min-width: 1200px) {
  /* line 44, ../../sass/partials/navigation.scss */
  .search-wrap {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 40%;
    float: left;
    margin-right: 2.85714%;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 61, ../../sass/partials/navigation.scss */
#searchText {
  border: 1px solid #728391;
  color: #728391;
  height: 36px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  vertical-align: middle;
  border-radius: 0 4px 4px 0;
  padding: 0 0 0 12px;
}

/* line 71, ../../sass/partials/navigation.scss */
.searchButton {
  display: inline-block;
  background: #0060c1;
  border: 1px solid #0060c1;
  color: #fff;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 18px;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}
/* line 88, ../../sass/partials/navigation.scss */
.searchButton:hover {
  background: #2893ff;
  border: 1px solid #2893ff;
  color: #fff;
  transition: all 0.3s ease-in;
}

/*Dropdown mega menu styles*/
/* line 99, ../../sass/partials/navigation.scss */
#js-dropdown-wrap-range,
#js-dropdown-wrap-goal,
#js-dropdown-wrap-sport,
#js-dropdown-wrap-articles,
#js-dropdown-wrap-clothing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: none;
}
@media (min-width: 300px) {
  /* line 99, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-range,
  #js-dropdown-wrap-goal,
  #js-dropdown-wrap-sport,
  #js-dropdown-wrap-articles,
  #js-dropdown-wrap-clothing {
    position: relative;
    background: cornflowerblue;
  }
}
@media (min-width: 1200px) {
  /* line 99, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-range,
  #js-dropdown-wrap-goal,
  #js-dropdown-wrap-sport,
  #js-dropdown-wrap-articles,
  #js-dropdown-wrap-clothing {
    position: absolute;
    left: 0;
    right: 0;
    top: 48px;
    z-index: 9999;
    background: #ededed;
  }
}

/* line 120, ../../sass/partials/navigation.scss */
.dropdown {
  position: relative;
  margin-top: 0;
}
@media (min-width: 300px) {
  /* line 120, ../../sass/partials/navigation.scss */
  .dropdown {
    background: #fff;
    padding: 24px;
  }
}
@media (min-width: 1200px) {
  /* line 120, ../../sass/partials/navigation.scss */
  .dropdown {
    padding: 24px 0;
    background: #ededed;
  }
}
/* line 131, ../../sass/partials/navigation.scss */
.dropdown a {
  color: #728391;
  line-height: 24px;
}
/* line 134, ../../sass/partials/navigation.scss */
.dropdown a:hover {
  color: #2893ff;
}
@media (min-width: 300px) {
  /* line 131, ../../sass/partials/navigation.scss */
  .dropdown a {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  /* line 131, ../../sass/partials/navigation.scss */
  .dropdown a {
    font-size: 14px;
  }
}
/* line 143, ../../sass/partials/navigation.scss */
.dropdown a:hover {
  color: #2893ff;
}
/* line 147, ../../sass/partials/navigation.scss */
.dropdown h2 {
  line-height: 18px;
  font-weight: 700;
  margin: 0 0 12px 0;
}
/* line 151, ../../sass/partials/navigation.scss */
.dropdown h2 a {
  font-size: 14px;
  color: #495f73;
}
/* line 156, ../../sass/partials/navigation.scss */
.dropdown h4 {
  line-height: 16px;
}
/* line 158, ../../sass/partials/navigation.scss */
.dropdown h4 a {
  color: #495f73;
}
@media (min-width: 300px) {
  /* line 158, ../../sass/partials/navigation.scss */
  .dropdown h4 a {
    font-size: 16px;
    display: block;
    margin: 0 0 12px 0;
  }
}
@media (min-width: 1200px) {
  /* line 158, ../../sass/partials/navigation.scss */
  .dropdown h4 a {
    font-size: 14px;
    margin: 0 0 6px 0;
    display: inline-block;
  }
}
/* line 170, ../../sass/partials/navigation.scss */
.dropdown h4 a:hover {
  color: #2893ff;
}

@media (min-width: 300px) {
  /* line 177, ../../sass/partials/navigation.scss */
  .dropdown-item-wrap {
    padding-bottom: 24px;
  }
  /* line 180, ../../sass/partials/navigation.scss */
  .dropdown-item-wrap ul {
    display: none;
  }
}
@media (min-width: 1200px) {
  /* line 177, ../../sass/partials/navigation.scss */
  .dropdown-item-wrap {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 14.28571%;
    float: left;
    margin-right: 2.85714%;
    min-height: 250px;
  }
  /* line 188, ../../sass/partials/navigation.scss */
  .dropdown-item-wrap:nth-child(5n) {
    float: right;
    margin-right: 0;
  }
  /* line 191, ../../sass/partials/navigation.scss */
  .dropdown-item-wrap ul {
    display: block;
  }
}

@media (min-width: 300px) {
  /* line 197, ../../sass/partials/navigation.scss */
  .main-wrap {
    display: none;
    padding-bottom: 24px;
    margin-bottom: 36px;
    border-bottom: 1px solid #CAD1DE;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  /* line 205, ../../sass/partials/navigation.scss */
  .main-wrap h2 a {
    display: block;
    font-size: 18px;
  }
  /* line 210, ../../sass/partials/navigation.scss */
  .main-wrap .follow {
    float: right;
  }
}
@media (min-width: 1200px) {
  /* line 197, ../../sass/partials/navigation.scss */
  .main-wrap {
    display: block;
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 14.28571%;
    float: left;
    margin-right: 2.85714%;
  }
  /* line 220, ../../sass/partials/navigation.scss */
  .main-wrap .follow {
    display: none;
  }
  /* line 224, ../../sass/partials/navigation.scss */
  .main-wrap h2 a {
    font-size: 14px;
  }
}

@media (min-width: 300px) {
  /* line 233, ../../sass/partials/navigation.scss */
  .dropdown-item-links a {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  /* line 238, ../../sass/partials/navigation.scss */
  .dropdown-item-links a {
    font-size: 12px;
  }
}

/*dropdown item wrap chevron (mobile)*/
@media (min-width: 300px) {
  /* line 247, ../../sass/partials/navigation.scss */
  .dropdown-chevron {
    float: right;
  }
}
@media (min-width: 1200px) {
  /* line 247, ../../sass/partials/navigation.scss */
  .dropdown-chevron {
    display: none !important;
  }
}

@media (min-width: 300px) {
  /* line 256, ../../sass/partials/navigation.scss */
  .dropdown-item-title {
    margin: 0;
  }
}

/*Goals Dropdown*/
/* line 265, ../../sass/partials/navigation.scss */
#js-dropdown-wrap-goal {
  text-align: left;
  line-height: 24px;
}
@media (min-width: 300px) {
  /* line 268, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-goal li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 18px;
  }
  /* line 272, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-goal li:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* line 268, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-goal li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
    margin: 0 18px 18px 0;
  }
}
/* line 281, ../../sass/partials/navigation.scss */
#js-dropdown-wrap-goal a {
  font-size: 16px;
  text-transform: uppercase;
  color: #728391;
  display: block;
}
/* line 286, ../../sass/partials/navigation.scss */
#js-dropdown-wrap-goal a:hover {
  color: #fff;
}

/* line 292, ../../sass/partials/navigation.scss */
.goal-number {
  padding: 12px;
  display: inline-block;
  font-size: 24px;
  margin-right: 10px;
  width: 30px;
}

/* line 300, ../../sass/partials/navigation.scss */
.goal-text {
  vertical-align: text-bottom;
}

/*goalColor mixin - changes background color of hovered span element*/
/* line 320, ../../sass/partials/navigation.scss */
.muscle-strength {
  background: #fff;
}
/* line 307, ../../sass/partials/navigation.scss */
.muscle-strength:hover {
  background: #0060c1;
  -moz-transition: background, ease-in 0.3s;
  -o-transition: background, ease-in 0.3s;
  -webkit-transition: background, ease-in 0.3s;
  transition: background, ease-in 0.3s;
  color: #fff;
}
/* line 313, ../../sass/partials/navigation.scss */
.muscle-strength span:first-child {
  background: #0060c1;
  text-align: center;
  color: #fff;
}

/* line 324, ../../sass/partials/navigation.scss */
.health-wellbeing {
  background: #fff;
}
/* line 307, ../../sass/partials/navigation.scss */
.health-wellbeing:hover {
  background: #66bc2d;
  -moz-transition: background, ease-in 0.3s;
  -o-transition: background, ease-in 0.3s;
  -webkit-transition: background, ease-in 0.3s;
  transition: background, ease-in 0.3s;
  color: #fff;
}
/* line 313, ../../sass/partials/navigation.scss */
.health-wellbeing span:first-child {
  background: #66bc2d;
  text-align: center;
  color: #fff;
}

/* line 328, ../../sass/partials/navigation.scss */
.energy-endurance {
  background: #fff;
}
/* line 307, ../../sass/partials/navigation.scss */
.energy-endurance:hover {
  background: #dd6000;
  -moz-transition: background, ease-in 0.3s;
  -o-transition: background, ease-in 0.3s;
  -webkit-transition: background, ease-in 0.3s;
  transition: background, ease-in 0.3s;
  color: #fff;
}
/* line 313, ../../sass/partials/navigation.scss */
.energy-endurance span:first-child {
  background: #dd6000;
  text-align: center;
  color: #fff;
}

/* line 332, ../../sass/partials/navigation.scss */
.sports-performance {
  background: #fff;
}
/* line 307, ../../sass/partials/navigation.scss */
.sports-performance:hover {
  background: #dc291e;
  -moz-transition: background, ease-in 0.3s;
  -o-transition: background, ease-in 0.3s;
  -webkit-transition: background, ease-in 0.3s;
  transition: background, ease-in 0.3s;
  color: #fff;
}
/* line 313, ../../sass/partials/navigation.scss */
.sports-performance span:first-child {
  background: #dc291e;
  text-align: center;
  color: #fff;
}

/* line 336, ../../sass/partials/navigation.scss */
.diet-weight-loss {
  background: #fff;
}
/* line 307, ../../sass/partials/navigation.scss */
.diet-weight-loss:hover {
  background: #485dc5;
  -moz-transition: background, ease-in 0.3s;
  -o-transition: background, ease-in 0.3s;
  -webkit-transition: background, ease-in 0.3s;
  transition: background, ease-in 0.3s;
  color: #fff;
}
/* line 313, ../../sass/partials/navigation.scss */
.diet-weight-loss span:first-child {
  background: #485dc5;
  text-align: center;
  color: #fff;
}

/* line 340, ../../sass/partials/navigation.scss */
.lean-muscle {
  background: #fff;
}
/* line 307, ../../sass/partials/navigation.scss */
.lean-muscle:hover {
  background: #00aeef;
  -moz-transition: background, ease-in 0.3s;
  -o-transition: background, ease-in 0.3s;
  -webkit-transition: background, ease-in 0.3s;
  transition: background, ease-in 0.3s;
  color: #fff;
}
/* line 313, ../../sass/partials/navigation.scss */
.lean-muscle span:first-child {
  background: #00aeef;
  text-align: center;
  color: #fff;
}

/*Sports dropdown*/
@media (min-width: 300px) {
  /* line 348, ../../sass/partials/navigation.scss */
  #sport:hover #js-dropdown-wrap-sport {
    display: none;
  }
}
@media (min-width: 1200px) {
  /* line 348, ../../sass/partials/navigation.scss */
  #sport:hover #js-dropdown-wrap-sport {
    display: block;
  }
}

/*sportSrticleList mixin changes width of element over different breakpoints*/
/* line 393, ../../sass/partials/navigation.scss */
.sport-text {
  vertical-align: text-bottom;
}

/* line 397, ../../sass/partials/navigation.scss */
#js-dropdown-wrap-sport {
  line-height: 24px;
}
@media (min-width: 300px) {
  /* line 397, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-sport {
    text-align: left;
  }
  /* line 360, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-sport li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin: 0 18px 18px 0;
    background: #fff;
    line-height: 24px;
  }
  /* line 366, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-sport li:hover span {
    color: #0063BD;
  }
  /* line 371, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-sport a {
    font-size: 16px;
    text-transform: uppercase;
    color: #728391;
    display: block;
    line-height: 24px;
  }
  /* line 377, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-sport a:hover {
    color: #fff;
  }
  /* line 381, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-sport span:first-child {
    display: inline-block;
    padding: 12px;
    font-size: 24px;
    color: #8695A1;
    margin-right: 10px;
    width: 30px;
    border-right: 1px solid #ededed;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  /* line 360, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-sport li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
    margin: 0 18px 18px 0;
    background: #fff;
    line-height: 24px;
  }
  /* line 366, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-sport li:hover span {
    color: #0063BD;
  }
  /* line 371, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-sport a {
    font-size: 16px;
    text-transform: uppercase;
    color: #728391;
    display: block;
    line-height: 24px;
  }
  /* line 377, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-sport a:hover {
    color: #fff;
  }
  /* line 381, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-sport span:first-child {
    display: inline-block;
    padding: 12px;
    font-size: 24px;
    color: #8695A1;
    margin-right: 10px;
    width: 30px;
    border-right: 1px solid #ededed;
    text-align: center;
  }
}

/* line 408, ../../sass/partials/navigation.scss */
.sport-text,
.articles-text {
  vertical-align: text-bottom;
}

/*Articles drop down*/
@media (min-width: 300px) {
  /* line 417, ../../sass/partials/navigation.scss */
  #articles:hover #js-dropdown-wrap-articles {
    display: none;
  }
}
@media (min-width: 1200px) {
  /* line 417, ../../sass/partials/navigation.scss */
  #articles:hover #js-dropdown-wrap-articles {
    display: block;
    margin-top: 0;
  }
}

@media (min-width: 300px) {
  /* line 428, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-articles {
    text-align: left;
  }
  /* line 360, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-articles li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin: 0 18px 18px 0;
    background: #fff;
    line-height: 24px;
  }
  /* line 366, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-articles li:hover span {
    color: #0063BD;
  }
  /* line 371, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-articles a {
    font-size: 16px;
    text-transform: uppercase;
    color: #728391;
    display: block;
    line-height: 24px;
  }
  /* line 377, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-articles a:hover {
    color: #fff;
  }
  /* line 381, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-articles span:first-child {
    display: inline-block;
    padding: 12px;
    font-size: 24px;
    color: #8695A1;
    margin-right: 10px;
    width: 30px;
    border-right: 1px solid #ededed;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  /* line 360, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-articles li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 22.85714%;
    float: left;
    margin-right: 2.85714%;
    margin: 0 18px 18px 0;
    background: #fff;
    line-height: 24px;
  }
  /* line 366, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-articles li:hover span {
    color: #0063BD;
  }
  /* line 371, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-articles a {
    font-size: 16px;
    text-transform: uppercase;
    color: #728391;
    display: block;
    line-height: 24px;
  }
  /* line 377, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-articles a:hover {
    color: #fff;
  }
  /* line 381, ../../sass/partials/navigation.scss */
  #js-dropdown-wrap-articles span:first-child {
    display: inline-block;
    padding: 12px;
    font-size: 24px;
    color: #8695A1;
    margin-right: 10px;
    width: 30px;
    border-right: 1px solid #ededed;
    text-align: center;
  }
}

/*Clothing drop down*/
@media (min-width: 300px) {
  /* line 442, ../../sass/partials/navigation.scss */
  #clothing:hover #js-dropdown-wrap-clothing {
    display: none;
  }
}
@media (min-width: 1200px) {
  /* line 442, ../../sass/partials/navigation.scss */
  #clothing:hover #js-dropdown-wrap-clothing {
    display: block;
  }
}

/*Utilities*/
@media (min-width: 300px) {
  /* line 455, ../../sass/partials/navigation.scss */
  .utility-wrap {
    display: none;
  }
}
@media (min-width: 1200px) {
  /* line 455, ../../sass/partials/navigation.scss */
  .utility-wrap {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 31.42857%;
    float: left;
    float: right;
    display: block;
  }
}

/* line 468, ../../sass/partials/navigation.scss */
.utilities {
  margin: 32px 0;
  text-align: right;
}

/* line 473, ../../sass/partials/navigation.scss */
.utilities-item {
  padding: 0 7px 2px;
  height: 18px;
  border-right: 1px solid #495f73;
  color: #495f73;
  display: inline-block;
}
/* line 479, ../../sass/partials/navigation.scss */
.utilities-item a {
  color: #495f73;
}
/* line 482, ../../sass/partials/navigation.scss */
.utilities-item:last-child {
  border-right: none;
}

/*Currency Dropdown styles*/
/* line 491, ../../sass/partials/navigation.scss */
.currency-parent {
  position: relative;
}
/* line 493, ../../sass/partials/navigation.scss */
.currency-parent:hover .currency-dropdown {
  display: block;
}

/* line 498, ../../sass/partials/navigation.scss */
.currency-dropdown {
  display: none;
  position: absolute;
  top: 20px;
  left: -2px;
  background: #fff;
  z-index: 9999;
  width: 50px;
  border: 1px solid #b7bfc6;
}
/* line 507, ../../sass/partials/navigation.scss */
.currency-dropdown li {
  border-bottom: 1px solid #b7bfc6;
  padding: 0;
  margin: 0;
}
/* line 511, ../../sass/partials/navigation.scss */
.currency-dropdown li a {
  padding: 10px;
  line-height: 14px;
  background: #f1f2f2;
  display: block;
}
/* line 516, ../../sass/partials/navigation.scss */
.currency-dropdown li a:hover {
  background: #fff;
  color: #0060c1;
}

/*Country Dropdown Styles*/
/* line 527, ../../sass/partials/navigation.scss */
.country-parent {
  position: relative;
}
/* line 529, ../../sass/partials/navigation.scss */
.country-parent:hover .country-dropdown {
  display: block;
}

/* line 534, ../../sass/partials/navigation.scss */
.country-dropdown {
  display: none;
  position: absolute;
  right: -1px;
  top: 19px;
  z-index: 9999;
  width: 350px;
  box-shadow: 0 4px 6px rgba(50, 50, 50, 0.6);
}
/* line 542, ../../sass/partials/navigation.scss */
.country-dropdown li {
  padding: 0;
  border: 1px solid #b7bfc6;
  text-transform: uppercase;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  background: #f1f2f2;
  float: left;
  margin: 0;
}
/* line 550, ../../sass/partials/navigation.scss */
.country-dropdown li:hover a, .country-dropdown li:hover {
  background: #fff;
  color: #333;
}
/* line 555, ../../sass/partials/navigation.scss */
.country-dropdown li i {
  width: 30px;
  height: 17px;
  font-size: 12px;
}
/* line 560, ../../sass/partials/navigation.scss */
.country-dropdown li a {
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/*Primary Navigation*/
/* line 570, ../../sass/partials/navigation.scss */
#section-nav {
  position: relative;
  background: #0060c1;
}

/* line 575, ../../sass/partials/navigation.scss */
.section-nav-fixed {
  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 9999;
}

/* line 582, ../../sass/partials/navigation.scss */
#section-nav-logo {
  display: none !important;
  border-left: none !important;
  width: 2px;
}

/* line 588, ../../sass/partials/navigation.scss */
#section-nav-logo-fixed {
  display: block !important;
  margin: 7px 0 0 0;
  float: left;
  border-left: none;
}

/* line 595, ../../sass/partials/navigation.scss */
.snap-logo {
  text-indent: -9999px;
  height: 33px;
  background: url("../img/snap-logo.png") no-repeat;
  width: 92px !important;
  padding: 0 !important;
  border-left: none !important;
}

/* line 604, ../../sass/partials/navigation.scss */
#range {
  position: static;
}
@media (min-width: 300px) {
  /* line 604, ../../sass/partials/navigation.scss */
  #range {
    margin-top: 50px;
  }
}
@media (min-width: 1200px) {
  /* line 604, ../../sass/partials/navigation.scss */
  #range {
    margin-top: 0;
  }
}
@media (min-width: 300px) {
  /* line 612, ../../sass/partials/navigation.scss */
  #range:hover #js-dropdown-wrap-range {
    display: none;
  }
}
@media (min-width: 1200px) {
  /* line 612, ../../sass/partials/navigation.scss */
  #range:hover #js-dropdown-wrap-range {
    display: block;
    margin-top: 0;
  }
}

@media (min-width: 300px) {
  /* line 624, ../../sass/partials/navigation.scss */
  #goal:hover #js-dropdown-wrap-goal {
    display: none;
  }
}
@media (min-width: 1200px) {
  /* line 624, ../../sass/partials/navigation.scss */
  #goal:hover #js-dropdown-wrap-goal {
    display: block;
  }
}

@media (min-width: 300px) {
  /* line 634, ../../sass/partials/navigation.scss */
  #range,
  #goal,
  #sport,
  #articles,
  #clothing {
    display: block;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  /* line 634, ../../sass/partials/navigation.scss */
  #range,
  #goal,
  #sport,
  #articles,
  #clothing {
    display: inline-block;
    float: left;
    text-align: left;
  }
}

@media (min-width: 300px) {
  /* line 650, ../../sass/partials/navigation.scss */
  #menu-icon {
    display: inline-block;
    position: absolute;
    left: 20px;
  }
}
@media (min-width: 1200px) {
  /* line 650, ../../sass/partials/navigation.scss */
  #menu-icon {
    display: none;
  }
}

/* line 662, ../../sass/partials/navigation.scss */
.nav-wrap .nav-menu {
  line-height: 24px;
  border-right: 1px solid #2186f8;
}
@media (min-width: 300px) {
  /* line 662, ../../sass/partials/navigation.scss */
  .nav-wrap .nav-menu {
    /*Remove scrollbar from mobile/tablet nav*/
    left: -999px;
    position: fixed;
    background: cornflowerblue;
    top: 0;
    margin: 0;
    padding: 0;
    right: 0;
    z-index: 9999;
    height: 100vh;
    transition: all 1s ease;
    overflow: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  /* line 665, ../../sass/partials/navigation.scss */
  .nav-wrap .nav-menu::-webkit-scrollbar {
    display: none;
  }
  /* line 680, ../../sass/partials/navigation.scss */
  .nav-wrap .nav-menu li {
    display: block;
  }
}
@media (min-width: 300px) and (min-width: 733px) {
  /* line 662, ../../sass/partials/navigation.scss */
  .nav-wrap .nav-menu {
    width: 60%;
  }
}
@media (min-width: 300px) and (min-width: 1200px) {
  /* line 662, ../../sass/partials/navigation.scss */
  .nav-wrap .nav-menu {
    width: auto;
    background: transparent;
  }
}
@media (min-width: 300px) and (min-width: 300px) {
  /* line 690, ../../sass/partials/navigation.scss */
  .nav-wrap .nav-menu .title-dropdown-wrap {
    display: block;
    padding: 0 0 24px 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
  }
  /* line 697, ../../sass/partials/navigation.scss */
  .nav-wrap .nav-menu .title-dropdown-wrap span {
    float: right;
  }
}
@media (min-width: 300px) and (min-width: 1200px) {
  /* line 690, ../../sass/partials/navigation.scss */
  .nav-wrap .nav-menu .title-dropdown-wrap {
    display: none;
  }
}

@media (min-width: 1200px) {
  /* line 662, ../../sass/partials/navigation.scss */
  .nav-wrap .nav-menu {
    position: static;
    display: inline-block;
    height: auto;
  }
}
/* line 713, ../../sass/partials/navigation.scss */
.nav-wrap .nav-menu .nav-item {
  display: inline-block;
  width: auto;
  border-left: 1px solid #0e3459;
}
/* line 717, ../../sass/partials/navigation.scss */
.nav-wrap .nav-menu .nav-item:last-child {
  border-right: 1px solid #0e3459;
}
/* line 720, ../../sass/partials/navigation.scss */
.nav-wrap .nav-menu .nav-item > a {
  text-transform: uppercase;
}
@media (min-width: 300px) {
  /* line 720, ../../sass/partials/navigation.scss */
  .nav-wrap .nav-menu .nav-item > a {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    display: block;
    border-left: none;
    float: left;
    color: #fff;
    padding: 18px;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  /* line 720, ../../sass/partials/navigation.scss */
  .nav-wrap .nav-menu .nav-item > a {
    width: auto;
    padding: 12px 10px;
    border-left: 1px solid #2186f8;
    display: inline-block;
    font-size: 14px;
  }
}

/*Slide in transition for mobile/tablet menu*/
/* line 746, ../../sass/partials/navigation.scss */
.slide-in-left {
  left: 0 !important;
}

/*Mobile/tablet menu open/close styles */
@media (min-width: 300px) {
  /* line 753, ../../sass/partials/navigation.scss */
  #menu-icon {
    font-size: 2em;
    color: #0060C1;
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  /* line 753, ../../sass/partials/navigation.scss */
  #menu-icon {
    display: none;
  }
}

@media (min-width: 300px) {
  /* line 764, ../../sass/partials/navigation.scss */
  #menu-close {
    font-size: 3em;
    color: #fff;
    float: right;
    height: 50px;
    margin: 5px;
  }
}
@media (min-width: 1200px) {
  /* line 764, ../../sass/partials/navigation.scss */
  #menu-close {
    display: none;
  }
}

/*Parent menu expansion/contraction icon styles*/
@media (min-width: 300px) {
  /* line 780, ../../sass/partials/navigation.scss */
  .mobile-parent-expand {
    font-size: 2em;
    color: #fff;
    margin-left: 10px;
    float: right;
    line-height: 24px !important;
  }
}
@media (min-width: 1200px) {
  /* line 780, ../../sass/partials/navigation.scss */
  .mobile-parent-expand {
    display: none !important;
  }
}

/*Account menu item and dropdown styles*/
/* line 798, ../../sass/partials/navigation.scss */
.nav-account {
  list-style-type: none;
  display: inline-block;
  border-right: 1px solid #2186f8;
  margin: 0;
}
@media (min-width: 300px) {
  /* line 798, ../../sass/partials/navigation.scss */
  .nav-account {
    float: right;
  }
}
@media (min-width: 733px) {
  /* line 798, ../../sass/partials/navigation.scss */
  .nav-account {
    width: auto;
  }
}
/* line 809, ../../sass/partials/navigation.scss */
.nav-account li {
  display: inline-block;
  position: relative;
  width: auto;
  border-left: 1px solid #0e3459;
  line-height: 24px;
}
/* line 815, ../../sass/partials/navigation.scss */
.nav-account li:last-child {
  border-right: 1px solid #0e3459;
}
/* line 818, ../../sass/partials/navigation.scss */
.nav-account li > a {
  display: block;
  padding: 12px 10px;
  color: #fff;
  border-left: 1px solid #2186f8;
  font-size: 14px;
  text-transform: uppercase;
}
/* line 827, ../../sass/partials/navigation.scss */
.nav-account span {
  margin-right: 10px;
  font-size: 20px;
}

/*display account dropdown on hover of account tab*/
@media (min-width: 1200px) {
  /* line 836, ../../sass/partials/navigation.scss */
  #account:hover > div {
    display: block;
  }
}

/* line 842, ../../sass/partials/navigation.scss */
#account-label {
  display: inline;
  line-height: 24px;
}

/* line 847, ../../sass/partials/navigation.scss */
#account-label-hide {
  display: none;
}

/* line 851, ../../sass/partials/navigation.scss */
#login-dropdown {
  font-size: 12px;
  position: absolute;
  top: 48px;
  width: 180px;
  background: #fff;
  color: #495f73;
  z-index: 9999;
  padding: 20px 20px 8px;
  box-shadow: 0 4px 6px rgba(50, 50, 50, 0.6);
  display: none;
}
@media (min-width: 300px) {
  /* line 851, ../../sass/partials/navigation.scss */
  #login-dropdown {
    left: -100px;
  }
}
/* line 865, ../../sass/partials/navigation.scss */
#login-dropdown span {
  border-bottom: 1px solid #728391;
  font-size: 12px;
  margin: 0 0 8px;
  padding: 13px 0 8px;
  display: block;
  clear: both;
}

/* line 875, ../../sass/partials/navigation.scss */
.login-button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  font-size: 16px;
  padding: 8px 0;
  margin: 0;
  color: #fff;
  border: 1px solid #e77e23 !important;
  background: #e77e23;
  text-align: center;
  text-transform: uppercase;
}
/* line 885, ../../sass/partials/navigation.scss */
.login-button:hover {
  background: #ff8a1f;
  color: #fff;
}

/* line 891, ../../sass/partials/navigation.scss */
.register-link {
  text-decoration: underline;
  color: #0060c1;
  float: right;
  font-size: 12px;
}

/* line 898, ../../sass/partials/navigation.scss */
.account-options-menu {
  display: block;
  padding: 0 0 12px;
}
/* line 901, ../../sass/partials/navigation.scss */
.account-options-menu li {
  display: block;
}
/* line 903, ../../sass/partials/navigation.scss */
.account-options-menu li a {
  color: pink;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #495f73;
  text-transform: none;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 913, ../../sass/partials/navigation.scss */
.account-options-menu li a:hover {
  color: #2893ff;
}

/*Account search form (fixed position menu) */
/* line 923, ../../sass/partials/navigation.scss */
.search-wrap-fixed {
  display: none;
}

/* line 933, ../../sass/partials/navigation.scss */
#search-text-fixed {
  width: 170px;
  height: 16px;
  border: 1px solid #fff;
  line-height: 16px;
  padding: 3px 0 3px 6px;
  color: #728391;
}

/* line 942, ../../sass/partials/navigation.scss */
.search-button-fixed {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  opacity: 0.6;
  border: none;
  line-height: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/*Offers sub-navigation*/
/* line 958, ../../sass/partials/navigation.scss */
.section-offers {
  background: #ededed;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 963, ../../sass/partials/navigation.scss */
.nav-offers {
  text-align: center;
  margin: 12px auto;
  height: 24px;
  line-height: 24px;
}
@media (min-width: 300px) {
  /* line 963, ../../sass/partials/navigation.scss */
  .nav-offers {
    display: none;
  }
}
@media (min-width: 733px) {
  /* line 963, ../../sass/partials/navigation.scss */
  .nav-offers {
    display: block;
  }
}
/* line 974, ../../sass/partials/navigation.scss */
.nav-offers li {
  display: inline-block;
  margin-right: 2%;
}
/* line 978, ../../sass/partials/navigation.scss */
.nav-offers a {
  font-size: 14px;
  color: #495f73;
}
/* line 981, ../../sass/partials/navigation.scss */
.nav-offers a:hover {
  color: #7892aa;
}
/* line 985, ../../sass/partials/navigation.scss */
.nav-offers span {
  font-size: 20px;
  margin-right: 10px;
}
