@import "susy";
@import "grids";
@import "breakpoint";
@import "compass/css3";
.logo-wrap {
    @include respond-to(mobile) {
        @include span(12);
        text-align: center;
        margin: 20px 0 0 0;
    }
    @include respond-to(laptop) {
        @include span(3 nest);
        text-align: left;
        margin-top: 24px;
    }
    margin: 24px 0 24px 0;
}

.logo-text {
    @include respond-to(mobile) {
        display: block;
        margin: 0;
        width: 183px;
        height: 36px;
        background: url('../img/logo.png');
        text-indent: -9999px;
        margin: 0 auto;
    }
    @include respond-to(laptop) {
        float: left;
    }
}


/*Search form styles*/

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

.search-wrap {
    @include respond-to(mobile) {
        @include span(12);
    }
    @include respond-to(tablet) {
        @include span(8);
        @include push(2)
    }
    @include respond-to(laptop) {
        @include span(5 nest);
        margin-left: 0;
        margin-right: 0;
    }
    position: relative;
    margin: 24px 0;
}

#searchText {
    border: 1px solid #728391;
    color: #728391;
    height: 36px;
    @include span(12);
    vertical-align: middle;
    border-radius: 0 4px 4px 0;
    padding: 0 0 0 12px;
}

.searchButton {
    display: inline-block;
    background: #0060c1;
    border: 1px solid #0060c1;
    color: #fff;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 18px;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    &:hover {
        background: #2893ff;
        border: 1px solid #2893ff;
        color: #fff;
        transition: all 0.3s ease-in;
    }
}


/*Dropdown mega menu styles*/

#js-dropdown-wrap-range,
#js-dropdown-wrap-goal,
#js-dropdown-wrap-sport,
#js-dropdown-wrap-articles,
#js-dropdown-wrap-clothing {
    @include respond-to(mobile) {
        position: relative;
        background: cornflowerblue;
    }
    @include span(12);
    display: none;
    @include respond-to(laptop) {
        position: absolute;
        left: 0;
        right: 0;
        top: 48px;
        z-index: 9999;
        background: #ededed;
    }
}

.dropdown {
    @include respond-to(mobile) {
        background: #fff;
        padding: 24px;
    }
    @include respond-to(laptop) {
        padding: 24px 0;
        background: #ededed;
    }
    position: relative;
    margin-top: 0;
    a {
        color: #728391;
        line-height: 24px;
        &:hover {
            color: #2893ff;
        }
        @include respond-to(mobile) {
            font-size: 18px;
        }
        @include respond-to(laptop) {
            font-size: 14px;
        }
        &:hover {
            color: #2893ff;
        }
    }
    h2 {
        line-height: 18px;
        font-weight: 700;
        margin: 0 0 12px 0;
        a {
            font-size: 14px;
            color: #495f73;
        }
    }
    h4 {
        line-height: 16px;
        a {
            @include respond-to(mobile) {
                font-size: 16px;
                display: block;
                margin: 0 0 12px 0;
            }
            @include respond-to(laptop) {
                font-size: 14px;
                margin: 0 0 6px 0;
                display: inline-block;
            }
            color: #495f73;
            &:hover {
                color: #2893ff;
            }
        }
    }
}

.dropdown-item-wrap {
    @include respond-to(mobile) {
        padding-bottom: 24px;
        ul {
            display: none;
        }
    }
    @include respond-to(laptop) {
        display: block;
        @include span (2);
        min-height: 250px;
        &:nth-child(5n) {
            @include last;
        }
        ul {
            display: block;
        }
    }
}

.main-wrap {
    @include respond-to(mobile) {
        display: none;
        padding-bottom: 24px;
        margin-bottom: 36px;
        border-bottom: 1px solid #CAD1DE;
        @include span(12);
        h2 {
            a {
                display: block;
                font-size: 18px;
            }
        }
        .follow {
            float: right;
        }
    }
    @include respond-to(laptop) {
        display: block;
        padding-bottom: 0;
        margin-bottom: 0;
        border: none;
        @include span(2 of 12);
        .follow {
            display: none;
        }
        h2 {
            a {
                font-size: 14px;
            }
        }
    }
}

.dropdown-item-links {
    @include respond-to(mobile) {
        a {
            font-size: 16px;
        }
    }
    @include respond-to(laptop) {
        a {
            font-size: 12px;
        }
    }
}


/*dropdown item wrap chevron (mobile)*/

.dropdown-chevron {
    @include respond-to(mobile) {
        float: right;
    }
    @include respond-to(laptop) {
        display: none !important;
    }
}

.dropdown-item-title {
    @include respond-to(mobile) {
        margin: 0;
    }
}


/*Goals Dropdown*/

#js-dropdown-wrap-goal {
    text-align: left;
    line-height: 24px;
    li {
        @include respond-to(mobile) {
            @include span(12);
            margin-bottom: 18px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @include respond-to(laptop) {
            @include span (12/3);
            margin: 0 18px 18px 0;
        }
    }
    a {
        font-size: 16px;
        text-transform: uppercase;
        color: #728391;
        display: block;
        &:hover {
            color: #fff;
        }
    }
}

.goal-number {
    padding: 12px;
    display: inline-block;
    font-size: 24px;
    margin-right: 10px;
    width: 30px;
}

.goal-text {
    vertical-align: text-bottom;
}

/*goalColor mixin - changes background color of hovered span element*/
@mixin goalColor($color) {
    background: #fff;
    &:hover {
        background: $color;
        @include transition(background,
        0.3s ease-in);
        color: #fff;
    }
    span:first-child {
        background: $color;
        text-align: center;
        color: #fff;
    }
}

.muscle-strength {
    @include goalColor(#0060c1);
}

.health-wellbeing {
    @include goalColor(#66bc2d);
}

.energy-endurance {
    @include goalColor(#dd6000);
}

.sports-performance {
    @include goalColor(#dc291e);
}

.diet-weight-loss {
    @include goalColor(#485dc5);
}

.lean-muscle {
    @include goalColor(#00aeef);
}


/*Sports dropdown*/

#sport {
    &:hover #js-dropdown-wrap-sport {
        @include respond-to(mobile) {
            display: none;
        }
        @include respond-to(laptop) {
            display: block;
        }
    }
}

/*sportSrticleList mixin changes width of element over different breakpoints*/
@mixin sportArticleList($span) {
    li {
        @include span ($span);
        margin: 0 18px 18px 0;
        background: #fff;
        line-height: 24px;
        &:hover {
            span {
                color: #0063BD;
            }
        }
    }
    a {
        font-size: 16px;
        text-transform: uppercase;
        color: #728391;
        display: block;
        line-height: 24px;
        &:hover {
            color: #fff;
        }
    }
    span:first-child {
        display: inline-block;
        padding: 12px;
        font-size: 24px;
        color: #8695A1;
        margin-right: 10px;
        width: 30px;
        border-right: 1px solid #ededed;
        text-align: center;
    }
}

.sport-text {
    vertical-align: text-bottom;
}

#js-dropdown-wrap-sport {
    line-height: 24px;
    @include respond-to(mobile) {
        @include sportArticleList(12);
        text-align: left;
    }
    @include respond-to(laptop) {
        @include sportArticleList(12/3);
    }
}

.sport-text,
.articles-text {
    vertical-align: text-bottom;
}


/*Articles drop down*/

#articles {
    &:hover #js-dropdown-wrap-articles {
        @include respond-to(mobile) {
            display: none;
        }
        @include respond-to(laptop) {
            display: block;
            margin-top: 0;
        }
    }
}

#js-dropdown-wrap-articles {
    @include respond-to(mobile) {
        @include sportArticleList(12);
        text-align: left;
    }
    @include respond-to(laptop) {
        @include sportArticleList(12/4);
    }
}


/*Clothing drop down*/

#clothing {
    &:hover #js-dropdown-wrap-clothing {
        @include respond-to(mobile) {
            display: none;
        }
        @include respond-to(laptop) {
            display: block;
        }
    }
}


/*Utilities*/

.utility-wrap {
    @include respond-to(mobile,
    tablet) {
        display: none;
    }
    @include respond-to(laptop,
    desktop) {
        @include span(4 no-gutters);
        float: right;
        display: block;
    }
}

.utilities {
    margin: 32px 0;
    text-align: right;
}

.utilities-item {
    padding: 0 7px 2px;
    height: 18px;
    border-right: 1px solid #495f73;
    color: #495f73;
    display: inline-block;
    a {
        color: #495f73;
    }
    &:last-child {
        border-right: none;
    }
}




/*Currency Dropdown styles*/
.currency-parent {
    position: relative;
    &:hover .currency-dropdown {
        display: block;
    }
}

.currency-dropdown {
    display: none;
    position: absolute;
    top: 20px;
    left: -2px;
    background: #fff;
    z-index: 9999;
    width: 50px;
    border: 1px solid #b7bfc6;
    li {
        border-bottom: 1px solid #b7bfc6;
        padding: 0;
        margin: 0;
        a {
            padding: 10px;
            line-height: 14px;
            background: #f1f2f2;
            display: block;
            &:hover {
                background: #fff;
                color: #0060c1;
            }
        }
    }
}


/*Country Dropdown Styles*/

.country-parent {
    position: relative;
    &:hover .country-dropdown {
        display: block;
    }
}

.country-dropdown {
    display: none;
    position: absolute;
    right: -1px;
    top: 19px;
    z-index: 9999;
    width: 350px;
    box-shadow: 0 4px 6px rgba(50, 50, 50, .6);
    li {
        padding: 0;
        border: 1px solid #b7bfc6;
        text-transform: uppercase;
        @include span(6 inside);
        background: #f1f2f2;
        float: left;
        margin: 0;
        &:hover a,
        &:hover {
            background: #fff;
            color: #333;
        }
        i {
            width: 30px;
            height: 17px;
            font-size: 12px;
        }
        a {
            padding: 10px;
            @include span(12);
        }
    }
}


/*Primary Navigation*/

#section-nav {
    position: relative;
    background: #0060c1;
}

.section-nav-fixed {
    position: fixed !important;
    width: 100%;
    top: 0;
    z-index: 9999;
}

#section-nav-logo {
    display: none !important;
    border-left: none !important;
    width: 2px;
}

#section-nav-logo-fixed {
    display: block !important;
    margin: 7px 0 0 0;
    float: left;
    border-left: none;
}

.snap-logo {
    text-indent: -9999px;
    height: 33px;
    background: url('../img/snap-logo.png') no-repeat;
    width: 92px !important;
    padding: 0!important;
    border-left: none !important;
}

#range {
    position: static;
    @include respond-to(mobile) {
        margin-top: 50px;
    }
    @include respond-to(laptop) {
        margin-top: 0;
    }
    &:hover #js-dropdown-wrap-range {
        @include respond-to(mobile) {
            display: none;
        }
        @include respond-to(laptop) {
            display: block;
            margin-top: 0;
        }
    }
}

#goal {
    &:hover #js-dropdown-wrap-goal {
        @include respond-to(mobile) {
            display: none;
        }
        @include respond-to(laptop) {
            display: block;
        }
    }
}

#range,
#goal,
#sport,
#articles,
#clothing {
    @include respond-to(mobile) {
        display: block;
        text-align: center;
    }
    @include respond-to(laptop) {
        display: inline-block;
        float: left;
        text-align: left;
    }
}

#menu-icon {
    @include respond-to(mobile) {
        display: inline-block;
        position: absolute;
        left: 20px;
    }
    @include respond-to(laptop) {
        display: none;
    }
}

.nav-wrap {
    .nav-menu {
        @include respond-to(mobile) {
            /*Remove scrollbar from mobile/tablet nav*/
            &::-webkit-scrollbar {
                display: none;
            }
            left: -999px;
            position: fixed;
            background: cornflowerblue;
            top: 0;
            margin: 0;
            padding: 0;
            right: 0;
            z-index: 9999;
            height: 100vh;
            transition: all 1s ease;
            overflow: auto;
            @include span(12);
            li {
                display: block;
            }
            @include respond-to(tablet) {
                width: 60%;
            }
            @include respond-to(laptop) {
                width: auto;
                background: transparent;
            }
            .title-dropdown-wrap {
                @include respond-to(mobile) {
                    display: block;
                    padding: 0 0 24px 0;
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: 700;
                    span {
                        float: right;
                    }
                }
                @include respond-to(laptop) {
                    display: none;
                }
            }
        }
        @include respond-to(laptop) {
            position: static;
            display: inline-block;
            height: auto;
        }
        line-height: 24px;
        border-right: 1px solid #2186f8;
        .nav-item {
            display: inline-block;
            width: auto;
            border-left: 1px solid #0e3459;
            &:last-child {
                border-right: 1px solid #0e3459;
            }
            > a {
                @include respond-to(mobile) {
                    @include span(12);
                    display: block;
                    border-left: none;
                    float: left;
                    color: #fff;
                    padding: 18px;
                    font-size: 20px;
                }
                @include respond-to(laptop) {
                    width: auto;
                    padding: 12px 10px;
                    border-left: 1px solid #2186f8;
                    display: inline-block;
                    font-size: 14px;
                }
                text-transform: uppercase;
            }
        }
    }
}


/*Slide in transition for mobile/tablet menu*/

.slide-in-left {
    left: 0 !important;
}


/*Mobile/tablet menu open/close styles */

#menu-icon {
    @include respond-to(mobile) {
        font-size: 2em;
        color: #0060C1;
        margin-top: 20px;
    }
    @include respond-to(laptop) {
        display: none;
    }
}

#menu-close {
    @include respond-to(mobile) {
        font-size: 3em;
        color: #fff;
        float: right;
        height: 50px;
        margin: 5px;
    }
    @include respond-to(laptop) {
        display: none;
    }
}


/*Parent menu expansion/contraction icon styles*/

.mobile-parent-expand {
    @include respond-to(mobile) {
        font-size: 2em;
        color: #fff;
        margin-left: 10px;
        float: right;
        line-height: 24px !important;
    }
    @include respond-to(laptop) {
        display: none !important;
    }
}

.mobile-parent-contract {}


/*Account menu item and dropdown styles*/

.nav-account {
    @include respond-to(mobile) {
        float: right;
    }
    @include respond-to(tablet) {
        width: auto;
    }
    list-style-type: none;
    display: inline-block;
    border-right: 1px solid #2186f8;
    margin: 0;
    li {
        display: inline-block;
        position: relative;
        width: auto;
        border-left: 1px solid #0e3459;
        line-height: 24px;
        &:last-child {
            border-right: 1px solid #0e3459;
        }
        > a {
            display: block;
            padding: 12px 10px;
            color: #fff;
            border-left: 1px solid #2186f8;
            font-size: 14px;
            text-transform: uppercase;
        }
    }
    span {
        margin-right: 10px;
        font-size: 20px;
    }
}


/*display account dropdown on hover of account tab*/

#account:hover > div {
    @include respond-to(laptop) {
        display: block;
    }
}

#account-label {
    display: inline;
    line-height: 24px;
}

#account-label-hide {
    display: none;
}

#login-dropdown {
    font-size: 12px;
    position: absolute;
    @include respond-to(mobile) {
        left: -100px;
    }
    top: 48px;
    width: 180px;
    background: #fff;
    color: #495f73;
    z-index: 9999;
    padding: 20px 20px 8px;
    box-shadow: 0 4px 6px rgba(50,50,50,.6);
    display: none;
    span {
        border-bottom: 1px solid #728391;
        font-size: 12px;
        margin: 0 0 8px;
        padding: 13px 0 8px;
        display: block;
        clear: both;
    }
}

.login-button {
    @include span(12);
    font-size: 16px;
    padding: 8px 0;
    margin: 0;
    color: #fff;
    border: 1px solid #e77e23 !important;
    background: #e77e23;
    text-align: center;
    text-transform: uppercase;
    &:hover {
        background: #ff8a1f;
        color: #fff;
    }
}

.register-link {
    text-decoration: underline;
    color: #0060c1;
    float: right;
    font-size: 12px;
}

.account-options-menu {
    display: block;
    padding: 0 0 12px;
    li {
        display: block;
        a {
            color: pink;
            border: 0;
            margin: 0;
            padding: 0;
            font-size: 12px;
            color: #495f73;
            text-transform: none;
            display: block;
            @include span(12);
            &:hover {
                color: #2893ff;
            }
        }
    }
}


/*Account search form (fixed position menu) */

.search-wrap-fixed {
    display: none;
}

#search-form-fixed {
    fieldset {
        @extend fieldset;
    }
}

#search-text-fixed {
    width: 170px;
    height: 16px;
    border: 1px solid #fff;
    line-height: 16px;
    padding: 3px 0 3px 6px;
    color: #728391;
}

.search-button-fixed {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    opacity: 0.6;
    border: none;
    line-height: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}


/*Offers sub-navigation*/

.section-offers {
    background: #ededed;
    @include span(12 no-gutters);
}

.nav-offers {
    @include respond-to(mobile) {
        display: none;
    }
    @include respond-to(tablet) {
        display: block;
    }
    text-align: center;
    margin: 12px auto;
    height: 24px;
    line-height: 24px;
    li {
        display: inline-block;
        margin-right: 2%;
    }
    a {
        font-size: 14px;
        color: #495f73;
        &:hover {
            color: #7892aa;
        }
    }
    span {
        font-size: 20px;
        margin-right: 10px;
    }
}
