/*Define grid - 12 col/after*/
/*Responsive breakpoints for varying screen sizes*/
/*Footer social icons mixin*/
/* line 27, ../sass/style.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  margin: 0;
}

/* line 35, ../sass/style.scss */
h1,
h3 {
  text-transform: uppercase;
}

/* line 40, ../sass/style.scss */
h3 {
  color: #495f73;
  margin-top: 0;
  padding-top: 2.85714%;
}

/* line 47, ../sass/style.scss */
img {
  display: block;
}
@media (min-width: 300px) {
  /* line 47, ../sass/style.scss */
  img {
    max-width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 733px) {
  /* line 47, ../sass/style.scss */
  img {
    width: 100%;
    margin: 0;
  }
}

/* line 59, ../sass/style.scss */
.text {
  font-size: 1rem;
  line-height: 24px;
  margin-top: 0;
  color: #495f73;
  margin-bottom: 2rem;
}

/* line 67, ../sass/style.scss */
.title {
  margin-bottom: 0;
  color: #495f73;
  font-size: 22px;
}
@media (min-width: 300px) {
  /* line 67, ../sass/style.scss */
  .title {
    margin-top: 24px;
  }
}
@media (min-width: 733px) {
  /* line 67, ../sass/style.scss */
  .title {
    margin-top: 48px;
  }
}

/* line 79, ../sass/style.scss */
.title > a {
  margin-bottom: 0;
  font-size: 1.375rem;
  line-height: 24px;
}

/* line 85, ../sass/style.scss */
.sub-title {
  color: #728391;
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

/* line 93, ../sass/style.scss */
.section-title,
.section-subtitle {
  text-align: center;
}

/* line 98, ../sass/style.scss */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 104, ../sass/style.scss */
a {
  text-decoration: none;
  color: #0065bd;
  font-size: 12px;
}
/* line 108, ../sass/style.scss */
a:hover {
  color: #2893ff;
  transition: all 0.3s ease-in;
}

/* line 114, ../sass/style.scss */
.outer-wrap {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
}
/* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.outer-wrap:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 119, ../sass/style.scss */
.inner-wrap {
  /*Constrain max-width to 1000px for desktop view*/
}
@media (min-width: 300px) {
  /* line 119, ../sass/style.scss */
  .inner-wrap {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .inner-wrap:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 1200px) {
  /* line 119, ../sass/style.scss */
  .inner-wrap {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .inner-wrap:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/*Navigation menu styles*/
/* line 5, ../sass/partials/navigation.scss */
.logo-wrap {
  margin: 24px 0 24px 0;
}
@media (min-width: 300px) {
  /* line 5, ../sass/partials/navigation.scss */
  .logo-wrap {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    margin: 20px 0 0 0;
  }
}
@media (min-width: 1200px) {
  /* line 5, ../sass/partials/navigation.scss */
  .logo-wrap {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 22.85714%;
    float: left;
    margin-right: 2.85714%;
    text-align: left;
    margin-top: 24px;
  }
}

@media (min-width: 300px) {
  /* line 19, ../sass/partials/navigation.scss */
  .logo-text {
    display: block;
    margin: 0;
    width: 183px;
    height: 36px;
    background: url("../img/logo.png");
    text-indent: -9999px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  /* line 19, ../sass/partials/navigation.scss */
  .logo-text {
    float: left;
  }
}

/*Search form styles*/
/* line 37, ../sass/partials/navigation.scss */
fieldset, #search-form-fixed fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

/* line 44, ../sass/partials/navigation.scss */
.search-wrap {
  position: relative;
  margin: 24px 0;
}
@media (min-width: 300px) {
  /* line 44, ../sass/partials/navigation.scss */
  .search-wrap {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 733px) {
  /* line 44, ../sass/partials/navigation.scss */
  .search-wrap {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 65.71429%;
    float: left;
    margin-right: 2.85714%;
    margin-left: 17.14286%;
  }
}
@media (min-width: 1200px) {
  /* line 44, ../sass/partials/navigation.scss */
  .search-wrap {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 40%;
    float: left;
    margin-right: 2.85714%;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 61, ../sass/partials/navigation.scss */
#searchText {
  border: 1px solid #728391;
  color: #728391;
  height: 36px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  vertical-align: middle;
  border-radius: 0 4px 4px 0;
  padding: 0 0 0 12px;
}

/* line 71, ../sass/partials/navigation.scss */
.searchButton {
  display: inline-block;
  background: #0060c1;
  border: 1px solid #0060c1;
  color: #fff;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 18px;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}
/* line 88, ../sass/partials/navigation.scss */
.searchButton:hover {
  background: #2893ff;
  border: 1px solid #2893ff;
  color: #fff;
  transition: all 0.3s ease-in;
}

/*Dropdown mega menu styles*/
/* line 99, ../sass/partials/navigation.scss */
#js-dropdown-wrap-range,
#js-dropdown-wrap-goal,
#js-dropdown-wrap-sport,
#js-dropdown-wrap-articles,
#js-dropdown-wrap-clothing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: none;
}
@media (min-width: 300px) {
  /* line 99, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-range,
  #js-dropdown-wrap-goal,
  #js-dropdown-wrap-sport,
  #js-dropdown-wrap-articles,
  #js-dropdown-wrap-clothing {
    position: relative;
    background: cornflowerblue;
  }
}
@media (min-width: 1200px) {
  /* line 99, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-range,
  #js-dropdown-wrap-goal,
  #js-dropdown-wrap-sport,
  #js-dropdown-wrap-articles,
  #js-dropdown-wrap-clothing {
    position: absolute;
    left: 0;
    right: 0;
    top: 48px;
    z-index: 9999;
    background: #ededed;
  }
}

/* line 120, ../sass/partials/navigation.scss */
.dropdown {
  position: relative;
  margin-top: 0;
}
@media (min-width: 300px) {
  /* line 120, ../sass/partials/navigation.scss */
  .dropdown {
    background: #fff;
    padding: 24px;
  }
}
@media (min-width: 1200px) {
  /* line 120, ../sass/partials/navigation.scss */
  .dropdown {
    padding: 24px 0;
    background: #ededed;
  }
}
/* line 131, ../sass/partials/navigation.scss */
.dropdown a {
  color: #728391;
  line-height: 24px;
}
/* line 134, ../sass/partials/navigation.scss */
.dropdown a:hover {
  color: #2893ff;
}
@media (min-width: 300px) {
  /* line 131, ../sass/partials/navigation.scss */
  .dropdown a {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  /* line 131, ../sass/partials/navigation.scss */
  .dropdown a {
    font-size: 14px;
  }
}
/* line 143, ../sass/partials/navigation.scss */
.dropdown a:hover {
  color: #2893ff;
}
/* line 147, ../sass/partials/navigation.scss */
.dropdown h2 {
  line-height: 18px;
  font-weight: 700;
  margin: 0 0 12px 0;
}
/* line 151, ../sass/partials/navigation.scss */
.dropdown h2 a {
  font-size: 14px;
  color: #495f73;
}
/* line 156, ../sass/partials/navigation.scss */
.dropdown h4 {
  line-height: 16px;
}
/* line 158, ../sass/partials/navigation.scss */
.dropdown h4 a {
  color: #495f73;
}
@media (min-width: 300px) {
  /* line 158, ../sass/partials/navigation.scss */
  .dropdown h4 a {
    font-size: 16px;
    display: block;
    margin: 0 0 12px 0;
  }
}
@media (min-width: 1200px) {
  /* line 158, ../sass/partials/navigation.scss */
  .dropdown h4 a {
    font-size: 14px;
    margin: 0 0 6px 0;
    display: inline-block;
  }
}
/* line 170, ../sass/partials/navigation.scss */
.dropdown h4 a:hover {
  color: #2893ff;
}

@media (min-width: 300px) {
  /* line 177, ../sass/partials/navigation.scss */
  .dropdown-item-wrap {
    padding-bottom: 24px;
  }
  /* line 180, ../sass/partials/navigation.scss */
  .dropdown-item-wrap ul {
    display: none;
  }
}
@media (min-width: 1200px) {
  /* line 177, ../sass/partials/navigation.scss */
  .dropdown-item-wrap {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 14.28571%;
    float: left;
    margin-right: 2.85714%;
    min-height: 250px;
  }
  /* line 188, ../sass/partials/navigation.scss */
  .dropdown-item-wrap:nth-child(5n) {
    float: right;
    margin-right: 0;
  }
  /* line 191, ../sass/partials/navigation.scss */
  .dropdown-item-wrap ul {
    display: block;
  }
}

@media (min-width: 300px) {
  /* line 197, ../sass/partials/navigation.scss */
  .main-wrap {
    display: none;
    padding-bottom: 24px;
    margin-bottom: 36px;
    border-bottom: 1px solid #CAD1DE;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  /* line 205, ../sass/partials/navigation.scss */
  .main-wrap h2 a {
    display: block;
    font-size: 18px;
  }
  /* line 210, ../sass/partials/navigation.scss */
  .main-wrap .follow {
    float: right;
  }
}
@media (min-width: 1200px) {
  /* line 197, ../sass/partials/navigation.scss */
  .main-wrap {
    display: block;
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 14.28571%;
    float: left;
    margin-right: 2.85714%;
  }
  /* line 220, ../sass/partials/navigation.scss */
  .main-wrap .follow {
    display: none;
  }
  /* line 224, ../sass/partials/navigation.scss */
  .main-wrap h2 a {
    font-size: 14px;
  }
}

@media (min-width: 300px) {
  /* line 233, ../sass/partials/navigation.scss */
  .dropdown-item-links a {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  /* line 238, ../sass/partials/navigation.scss */
  .dropdown-item-links a {
    font-size: 12px;
  }
}

/*dropdown item wrap chevron (mobile)*/
@media (min-width: 300px) {
  /* line 247, ../sass/partials/navigation.scss */
  .dropdown-chevron {
    float: right;
  }
}
@media (min-width: 1200px) {
  /* line 247, ../sass/partials/navigation.scss */
  .dropdown-chevron {
    display: none !important;
  }
}

@media (min-width: 300px) {
  /* line 256, ../sass/partials/navigation.scss */
  .dropdown-item-title {
    margin: 0;
  }
}

/*Goals Dropdown*/
/* line 265, ../sass/partials/navigation.scss */
#js-dropdown-wrap-goal {
  text-align: left;
  line-height: 24px;
}
@media (min-width: 300px) {
  /* line 268, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-goal li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 18px;
  }
  /* line 272, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-goal li:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* line 268, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-goal li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
    margin: 0 18px 18px 0;
  }
}
/* line 281, ../sass/partials/navigation.scss */
#js-dropdown-wrap-goal a {
  font-size: 16px;
  text-transform: uppercase;
  color: #728391;
  display: block;
}
/* line 286, ../sass/partials/navigation.scss */
#js-dropdown-wrap-goal a:hover {
  color: #fff;
}

/* line 292, ../sass/partials/navigation.scss */
.goal-number {
  padding: 12px;
  display: inline-block;
  font-size: 24px;
  margin-right: 10px;
  width: 30px;
}

/* line 300, ../sass/partials/navigation.scss */
.goal-text {
  vertical-align: text-bottom;
}

/*goalColor mixin - changes background color of hovered span element*/
/* line 320, ../sass/partials/navigation.scss */
.muscle-strength {
  background: #fff;
}
/* line 307, ../sass/partials/navigation.scss */
.muscle-strength:hover {
  background: #0060c1;
  -moz-transition: background, ease-in 0.3s;
  -o-transition: background, ease-in 0.3s;
  -webkit-transition: background, ease-in 0.3s;
  transition: background, ease-in 0.3s;
  color: #fff;
}
/* line 313, ../sass/partials/navigation.scss */
.muscle-strength span:first-child {
  background: #0060c1;
  text-align: center;
  color: #fff;
}

/* line 324, ../sass/partials/navigation.scss */
.health-wellbeing {
  background: #fff;
}
/* line 307, ../sass/partials/navigation.scss */
.health-wellbeing:hover {
  background: #66bc2d;
  -moz-transition: background, ease-in 0.3s;
  -o-transition: background, ease-in 0.3s;
  -webkit-transition: background, ease-in 0.3s;
  transition: background, ease-in 0.3s;
  color: #fff;
}
/* line 313, ../sass/partials/navigation.scss */
.health-wellbeing span:first-child {
  background: #66bc2d;
  text-align: center;
  color: #fff;
}

/* line 328, ../sass/partials/navigation.scss */
.energy-endurance {
  background: #fff;
}
/* line 307, ../sass/partials/navigation.scss */
.energy-endurance:hover {
  background: #dd6000;
  -moz-transition: background, ease-in 0.3s;
  -o-transition: background, ease-in 0.3s;
  -webkit-transition: background, ease-in 0.3s;
  transition: background, ease-in 0.3s;
  color: #fff;
}
/* line 313, ../sass/partials/navigation.scss */
.energy-endurance span:first-child {
  background: #dd6000;
  text-align: center;
  color: #fff;
}

/* line 332, ../sass/partials/navigation.scss */
.sports-performance {
  background: #fff;
}
/* line 307, ../sass/partials/navigation.scss */
.sports-performance:hover {
  background: #dc291e;
  -moz-transition: background, ease-in 0.3s;
  -o-transition: background, ease-in 0.3s;
  -webkit-transition: background, ease-in 0.3s;
  transition: background, ease-in 0.3s;
  color: #fff;
}
/* line 313, ../sass/partials/navigation.scss */
.sports-performance span:first-child {
  background: #dc291e;
  text-align: center;
  color: #fff;
}

/* line 336, ../sass/partials/navigation.scss */
.diet-weight-loss {
  background: #fff;
}
/* line 307, ../sass/partials/navigation.scss */
.diet-weight-loss:hover {
  background: #485dc5;
  -moz-transition: background, ease-in 0.3s;
  -o-transition: background, ease-in 0.3s;
  -webkit-transition: background, ease-in 0.3s;
  transition: background, ease-in 0.3s;
  color: #fff;
}
/* line 313, ../sass/partials/navigation.scss */
.diet-weight-loss span:first-child {
  background: #485dc5;
  text-align: center;
  color: #fff;
}

/* line 340, ../sass/partials/navigation.scss */
.lean-muscle {
  background: #fff;
}
/* line 307, ../sass/partials/navigation.scss */
.lean-muscle:hover {
  background: #00aeef;
  -moz-transition: background, ease-in 0.3s;
  -o-transition: background, ease-in 0.3s;
  -webkit-transition: background, ease-in 0.3s;
  transition: background, ease-in 0.3s;
  color: #fff;
}
/* line 313, ../sass/partials/navigation.scss */
.lean-muscle span:first-child {
  background: #00aeef;
  text-align: center;
  color: #fff;
}

/*Sports dropdown*/
@media (min-width: 300px) {
  /* line 348, ../sass/partials/navigation.scss */
  #sport:hover #js-dropdown-wrap-sport {
    display: none;
  }
}
@media (min-width: 1200px) {
  /* line 348, ../sass/partials/navigation.scss */
  #sport:hover #js-dropdown-wrap-sport {
    display: block;
  }
}

/*sportSrticleList mixin changes width of element over different breakpoints*/
/* line 393, ../sass/partials/navigation.scss */
.sport-text {
  vertical-align: text-bottom;
}

/* line 397, ../sass/partials/navigation.scss */
#js-dropdown-wrap-sport {
  line-height: 24px;
}
@media (min-width: 300px) {
  /* line 397, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-sport {
    text-align: left;
  }
  /* line 360, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-sport li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin: 0 18px 18px 0;
    background: #fff;
    line-height: 24px;
  }
  /* line 366, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-sport li:hover span {
    color: #0063BD;
  }
  /* line 371, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-sport a {
    font-size: 16px;
    text-transform: uppercase;
    color: #728391;
    display: block;
    line-height: 24px;
  }
  /* line 377, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-sport a:hover {
    color: #fff;
  }
  /* line 381, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-sport span:first-child {
    display: inline-block;
    padding: 12px;
    font-size: 24px;
    color: #8695A1;
    margin-right: 10px;
    width: 30px;
    border-right: 1px solid #ededed;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  /* line 360, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-sport li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
    margin: 0 18px 18px 0;
    background: #fff;
    line-height: 24px;
  }
  /* line 366, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-sport li:hover span {
    color: #0063BD;
  }
  /* line 371, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-sport a {
    font-size: 16px;
    text-transform: uppercase;
    color: #728391;
    display: block;
    line-height: 24px;
  }
  /* line 377, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-sport a:hover {
    color: #fff;
  }
  /* line 381, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-sport span:first-child {
    display: inline-block;
    padding: 12px;
    font-size: 24px;
    color: #8695A1;
    margin-right: 10px;
    width: 30px;
    border-right: 1px solid #ededed;
    text-align: center;
  }
}

/* line 408, ../sass/partials/navigation.scss */
.sport-text,
.articles-text {
  vertical-align: text-bottom;
}

/*Articles drop down*/
@media (min-width: 300px) {
  /* line 417, ../sass/partials/navigation.scss */
  #articles:hover #js-dropdown-wrap-articles {
    display: none;
  }
}
@media (min-width: 1200px) {
  /* line 417, ../sass/partials/navigation.scss */
  #articles:hover #js-dropdown-wrap-articles {
    display: block;
    margin-top: 0;
  }
}

@media (min-width: 300px) {
  /* line 428, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-articles {
    text-align: left;
  }
  /* line 360, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-articles li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin: 0 18px 18px 0;
    background: #fff;
    line-height: 24px;
  }
  /* line 366, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-articles li:hover span {
    color: #0063BD;
  }
  /* line 371, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-articles a {
    font-size: 16px;
    text-transform: uppercase;
    color: #728391;
    display: block;
    line-height: 24px;
  }
  /* line 377, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-articles a:hover {
    color: #fff;
  }
  /* line 381, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-articles span:first-child {
    display: inline-block;
    padding: 12px;
    font-size: 24px;
    color: #8695A1;
    margin-right: 10px;
    width: 30px;
    border-right: 1px solid #ededed;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  /* line 360, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-articles li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 22.85714%;
    float: left;
    margin-right: 2.85714%;
    margin: 0 18px 18px 0;
    background: #fff;
    line-height: 24px;
  }
  /* line 366, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-articles li:hover span {
    color: #0063BD;
  }
  /* line 371, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-articles a {
    font-size: 16px;
    text-transform: uppercase;
    color: #728391;
    display: block;
    line-height: 24px;
  }
  /* line 377, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-articles a:hover {
    color: #fff;
  }
  /* line 381, ../sass/partials/navigation.scss */
  #js-dropdown-wrap-articles span:first-child {
    display: inline-block;
    padding: 12px;
    font-size: 24px;
    color: #8695A1;
    margin-right: 10px;
    width: 30px;
    border-right: 1px solid #ededed;
    text-align: center;
  }
}

/*Clothing drop down*/
@media (min-width: 300px) {
  /* line 442, ../sass/partials/navigation.scss */
  #clothing:hover #js-dropdown-wrap-clothing {
    display: none;
  }
}
@media (min-width: 1200px) {
  /* line 442, ../sass/partials/navigation.scss */
  #clothing:hover #js-dropdown-wrap-clothing {
    display: block;
  }
}

/*Utilities*/
@media (min-width: 300px) {
  /* line 455, ../sass/partials/navigation.scss */
  .utility-wrap {
    display: none;
  }
}
@media (min-width: 1200px) {
  /* line 455, ../sass/partials/navigation.scss */
  .utility-wrap {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 31.42857%;
    float: left;
    float: right;
    display: block;
  }
}

/* line 468, ../sass/partials/navigation.scss */
.utilities {
  margin: 32px 0;
  text-align: right;
}

/* line 473, ../sass/partials/navigation.scss */
.utilities-item {
  padding: 0 7px 2px;
  height: 18px;
  border-right: 1px solid #495f73;
  color: #495f73;
  display: inline-block;
}
/* line 479, ../sass/partials/navigation.scss */
.utilities-item a {
  color: #495f73;
}
/* line 482, ../sass/partials/navigation.scss */
.utilities-item:last-child {
  border-right: none;
}

/*Currency Dropdown styles*/
/* line 491, ../sass/partials/navigation.scss */
.currency-parent {
  position: relative;
}
/* line 493, ../sass/partials/navigation.scss */
.currency-parent:hover .currency-dropdown {
  display: block;
}

/* line 498, ../sass/partials/navigation.scss */
.currency-dropdown {
  display: none;
  position: absolute;
  top: 20px;
  left: -2px;
  background: #fff;
  z-index: 9999;
  width: 50px;
  border: 1px solid #b7bfc6;
}
/* line 507, ../sass/partials/navigation.scss */
.currency-dropdown li {
  border-bottom: 1px solid #b7bfc6;
  padding: 0;
  margin: 0;
}
/* line 511, ../sass/partials/navigation.scss */
.currency-dropdown li a {
  padding: 10px;
  line-height: 14px;
  background: #f1f2f2;
  display: block;
}
/* line 516, ../sass/partials/navigation.scss */
.currency-dropdown li a:hover {
  background: #fff;
  color: #0060c1;
}

/*Country Dropdown Styles*/
/* line 527, ../sass/partials/navigation.scss */
.country-parent {
  position: relative;
}
/* line 529, ../sass/partials/navigation.scss */
.country-parent:hover .country-dropdown {
  display: block;
}

/* line 534, ../sass/partials/navigation.scss */
.country-dropdown {
  display: none;
  position: absolute;
  right: -1px;
  top: 19px;
  z-index: 9999;
  width: 350px;
  box-shadow: 0 4px 6px rgba(50, 50, 50, 0.6);
}
/* line 542, ../sass/partials/navigation.scss */
.country-dropdown li {
  padding: 0;
  border: 1px solid #b7bfc6;
  text-transform: uppercase;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  background: #f1f2f2;
  float: left;
  margin: 0;
}
/* line 550, ../sass/partials/navigation.scss */
.country-dropdown li:hover a, .country-dropdown li:hover {
  background: #fff;
  color: #333;
}
/* line 555, ../sass/partials/navigation.scss */
.country-dropdown li i {
  width: 30px;
  height: 17px;
  font-size: 12px;
}
/* line 560, ../sass/partials/navigation.scss */
.country-dropdown li a {
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/*Primary Navigation*/
/* line 570, ../sass/partials/navigation.scss */
#section-nav {
  position: relative;
  background: #0060c1;
}

/* line 575, ../sass/partials/navigation.scss */
.section-nav-fixed {
  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 9999;
}

/* line 582, ../sass/partials/navigation.scss */
#section-nav-logo {
  display: none !important;
  border-left: none !important;
  width: 2px;
}

/* line 588, ../sass/partials/navigation.scss */
#section-nav-logo-fixed {
  display: block !important;
  margin: 7px 0 0 0;
  float: left;
  border-left: none;
}

/* line 595, ../sass/partials/navigation.scss */
.snap-logo {
  text-indent: -9999px;
  height: 33px;
  background: url("../img/snap-logo.png") no-repeat;
  width: 92px !important;
  padding: 0 !important;
  border-left: none !important;
}

/* line 604, ../sass/partials/navigation.scss */
#range {
  position: static;
}
@media (min-width: 300px) {
  /* line 604, ../sass/partials/navigation.scss */
  #range {
    margin-top: 50px;
  }
}
@media (min-width: 1200px) {
  /* line 604, ../sass/partials/navigation.scss */
  #range {
    margin-top: 0;
  }
}
@media (min-width: 300px) {
  /* line 612, ../sass/partials/navigation.scss */
  #range:hover #js-dropdown-wrap-range {
    display: none;
  }
}
@media (min-width: 1200px) {
  /* line 612, ../sass/partials/navigation.scss */
  #range:hover #js-dropdown-wrap-range {
    display: block;
    margin-top: 0;
  }
}

@media (min-width: 300px) {
  /* line 624, ../sass/partials/navigation.scss */
  #goal:hover #js-dropdown-wrap-goal {
    display: none;
  }
}
@media (min-width: 1200px) {
  /* line 624, ../sass/partials/navigation.scss */
  #goal:hover #js-dropdown-wrap-goal {
    display: block;
  }
}

@media (min-width: 300px) {
  /* line 634, ../sass/partials/navigation.scss */
  #range,
  #goal,
  #sport,
  #articles,
  #clothing {
    display: block;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  /* line 634, ../sass/partials/navigation.scss */
  #range,
  #goal,
  #sport,
  #articles,
  #clothing {
    display: inline-block;
    float: left;
    text-align: left;
  }
}

@media (min-width: 300px) {
  /* line 650, ../sass/partials/navigation.scss */
  #menu-icon {
    display: inline-block;
    position: absolute;
    left: 20px;
  }
}
@media (min-width: 1200px) {
  /* line 650, ../sass/partials/navigation.scss */
  #menu-icon {
    display: none;
  }
}

/* line 662, ../sass/partials/navigation.scss */
.nav-wrap .nav-menu {
  line-height: 24px;
  border-right: 1px solid #2186f8;
}
@media (min-width: 300px) {
  /* line 662, ../sass/partials/navigation.scss */
  .nav-wrap .nav-menu {
    /*Remove scrollbar from mobile/tablet nav*/
    left: -999px;
    position: fixed;
    background: cornflowerblue;
    top: 0;
    margin: 0;
    padding: 0;
    right: 0;
    z-index: 9999;
    height: 100vh;
    transition: all 1s ease;
    overflow: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  /* line 665, ../sass/partials/navigation.scss */
  .nav-wrap .nav-menu::-webkit-scrollbar {
    display: none;
  }
  /* line 680, ../sass/partials/navigation.scss */
  .nav-wrap .nav-menu li {
    display: block;
  }
}
@media (min-width: 300px) and (min-width: 733px) {
  /* line 662, ../sass/partials/navigation.scss */
  .nav-wrap .nav-menu {
    width: 60%;
  }
}
@media (min-width: 300px) and (min-width: 1200px) {
  /* line 662, ../sass/partials/navigation.scss */
  .nav-wrap .nav-menu {
    width: auto;
    background: transparent;
  }
}
@media (min-width: 300px) and (min-width: 300px) {
  /* line 690, ../sass/partials/navigation.scss */
  .nav-wrap .nav-menu .title-dropdown-wrap {
    display: block;
    padding: 0 0 24px 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
  }
  /* line 697, ../sass/partials/navigation.scss */
  .nav-wrap .nav-menu .title-dropdown-wrap span {
    float: right;
  }
}
@media (min-width: 300px) and (min-width: 1200px) {
  /* line 690, ../sass/partials/navigation.scss */
  .nav-wrap .nav-menu .title-dropdown-wrap {
    display: none;
  }
}

@media (min-width: 1200px) {
  /* line 662, ../sass/partials/navigation.scss */
  .nav-wrap .nav-menu {
    position: static;
    display: inline-block;
    height: auto;
  }
}
/* line 713, ../sass/partials/navigation.scss */
.nav-wrap .nav-menu .nav-item {
  display: inline-block;
  width: auto;
  border-left: 1px solid #0e3459;
}
/* line 717, ../sass/partials/navigation.scss */
.nav-wrap .nav-menu .nav-item:last-child {
  border-right: 1px solid #0e3459;
}
/* line 720, ../sass/partials/navigation.scss */
.nav-wrap .nav-menu .nav-item > a {
  text-transform: uppercase;
}
@media (min-width: 300px) {
  /* line 720, ../sass/partials/navigation.scss */
  .nav-wrap .nav-menu .nav-item > a {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    display: block;
    border-left: none;
    float: left;
    color: #fff;
    padding: 18px;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  /* line 720, ../sass/partials/navigation.scss */
  .nav-wrap .nav-menu .nav-item > a {
    width: auto;
    padding: 12px 10px;
    border-left: 1px solid #2186f8;
    display: inline-block;
    font-size: 14px;
  }
}

/*Slide in transition for mobile/tablet menu*/
/* line 746, ../sass/partials/navigation.scss */
.slide-in-left {
  left: 0 !important;
}

/*Mobile/tablet menu open/close styles */
@media (min-width: 300px) {
  /* line 753, ../sass/partials/navigation.scss */
  #menu-icon {
    font-size: 2em;
    color: #0060C1;
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  /* line 753, ../sass/partials/navigation.scss */
  #menu-icon {
    display: none;
  }
}

@media (min-width: 300px) {
  /* line 764, ../sass/partials/navigation.scss */
  #menu-close {
    font-size: 3em;
    color: #fff;
    float: right;
    height: 50px;
    margin: 5px;
  }
}
@media (min-width: 1200px) {
  /* line 764, ../sass/partials/navigation.scss */
  #menu-close {
    display: none;
  }
}

/*Parent menu expansion/contraction icon styles*/
@media (min-width: 300px) {
  /* line 780, ../sass/partials/navigation.scss */
  .mobile-parent-expand {
    font-size: 2em;
    color: #fff;
    margin-left: 10px;
    float: right;
    line-height: 24px !important;
  }
}
@media (min-width: 1200px) {
  /* line 780, ../sass/partials/navigation.scss */
  .mobile-parent-expand {
    display: none !important;
  }
}

/*Account menu item and dropdown styles*/
/* line 798, ../sass/partials/navigation.scss */
.nav-account {
  list-style-type: none;
  display: inline-block;
  border-right: 1px solid #2186f8;
  margin: 0;
}
@media (min-width: 300px) {
  /* line 798, ../sass/partials/navigation.scss */
  .nav-account {
    float: right;
  }
}
@media (min-width: 733px) {
  /* line 798, ../sass/partials/navigation.scss */
  .nav-account {
    width: auto;
  }
}
/* line 809, ../sass/partials/navigation.scss */
.nav-account li {
  display: inline-block;
  position: relative;
  width: auto;
  border-left: 1px solid #0e3459;
  line-height: 24px;
}
/* line 815, ../sass/partials/navigation.scss */
.nav-account li:last-child {
  border-right: 1px solid #0e3459;
}
/* line 818, ../sass/partials/navigation.scss */
.nav-account li > a {
  display: block;
  padding: 12px 10px;
  color: #fff;
  border-left: 1px solid #2186f8;
  font-size: 14px;
  text-transform: uppercase;
}
/* line 827, ../sass/partials/navigation.scss */
.nav-account span {
  margin-right: 10px;
  font-size: 20px;
}

/*display account dropdown on hover of account tab*/
@media (min-width: 1200px) {
  /* line 836, ../sass/partials/navigation.scss */
  #account:hover > div {
    display: block;
  }
}

/* line 842, ../sass/partials/navigation.scss */
#account-label {
  display: inline;
  line-height: 24px;
}

/* line 847, ../sass/partials/navigation.scss */
#account-label-hide {
  display: none;
}

/* line 851, ../sass/partials/navigation.scss */
#login-dropdown {
  font-size: 12px;
  position: absolute;
  top: 48px;
  width: 180px;
  background: #fff;
  color: #495f73;
  z-index: 9999;
  padding: 20px 20px 8px;
  box-shadow: 0 4px 6px rgba(50, 50, 50, 0.6);
  display: none;
}
@media (min-width: 300px) {
  /* line 851, ../sass/partials/navigation.scss */
  #login-dropdown {
    left: -100px;
  }
}
/* line 865, ../sass/partials/navigation.scss */
#login-dropdown span {
  border-bottom: 1px solid #728391;
  font-size: 12px;
  margin: 0 0 8px;
  padding: 13px 0 8px;
  display: block;
  clear: both;
}

/* line 875, ../sass/partials/navigation.scss */
.login-button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  font-size: 16px;
  padding: 8px 0;
  margin: 0;
  color: #fff;
  border: 1px solid #e77e23 !important;
  background: #e77e23;
  text-align: center;
  text-transform: uppercase;
}
/* line 885, ../sass/partials/navigation.scss */
.login-button:hover {
  background: #ff8a1f;
  color: #fff;
}

/* line 891, ../sass/partials/navigation.scss */
.register-link {
  text-decoration: underline;
  color: #0060c1;
  float: right;
  font-size: 12px;
}

/* line 898, ../sass/partials/navigation.scss */
.account-options-menu {
  display: block;
  padding: 0 0 12px;
}
/* line 901, ../sass/partials/navigation.scss */
.account-options-menu li {
  display: block;
}
/* line 903, ../sass/partials/navigation.scss */
.account-options-menu li a {
  color: pink;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #495f73;
  text-transform: none;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 913, ../sass/partials/navigation.scss */
.account-options-menu li a:hover {
  color: #2893ff;
}

/*Account search form (fixed position menu) */
/* line 923, ../sass/partials/navigation.scss */
.search-wrap-fixed {
  display: none;
}

/* line 933, ../sass/partials/navigation.scss */
#search-text-fixed {
  width: 170px;
  height: 16px;
  border: 1px solid #fff;
  line-height: 16px;
  padding: 3px 0 3px 6px;
  color: #728391;
}

/* line 942, ../sass/partials/navigation.scss */
.search-button-fixed {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  opacity: 0.6;
  border: none;
  line-height: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/*Offers sub-navigation*/
/* line 958, ../sass/partials/navigation.scss */
.section-offers {
  background: #ededed;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 963, ../sass/partials/navigation.scss */
.nav-offers {
  text-align: center;
  margin: 12px auto;
  height: 24px;
  line-height: 24px;
}
@media (min-width: 300px) {
  /* line 963, ../sass/partials/navigation.scss */
  .nav-offers {
    display: none;
  }
}
@media (min-width: 733px) {
  /* line 963, ../sass/partials/navigation.scss */
  .nav-offers {
    display: block;
  }
}
/* line 974, ../sass/partials/navigation.scss */
.nav-offers li {
  display: inline-block;
  margin-right: 2%;
}
/* line 978, ../sass/partials/navigation.scss */
.nav-offers a {
  font-size: 14px;
  color: #495f73;
}
/* line 981, ../sass/partials/navigation.scss */
.nav-offers a:hover {
  color: #7892aa;
}
/* line 985, ../sass/partials/navigation.scss */
.nav-offers span {
  font-size: 20px;
  margin-right: 10px;
}

/*Image carousel */
@media (min-width: 300px) {
  /* line 136, ../sass/style.scss */
  .image-carousel {
    display: none;
  }
}
@media (min-width: 733px) {
  /* line 136, ../sass/style.scss */
  .image-carousel {
    display: block;
    height: 400px;
    background-repeat: no-repeat;
    background-position: 50%;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 150, ../sass/style.scss */
.carousel-wrap {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slideAway infinite;
}

/*Image carousel items*/
/* line 161, ../sass/style.scss */
.img1 {
  background: url("../img/fullwidth1.jpg");
}

/* line 165, ../sass/style.scss */
.img2 {
  background: url("../img/fullwidth2.jpg");
}

/* line 169, ../sass/style.scss */
.img3 {
  background: url("../img/fullwidth3.jpg");
}

/* line 173, ../sass/style.scss */
.img4 {
  background: url("../img/fullwidth4.jpg");
}

/* line 177, ../sass/style.scss */
.img1,
.img2,
.img3,
.img4 {
  height: 400px;
  background-position: 50%;
  width: 20%;
  float: left;
}

/*Image carousel animation*/
@keyframes slideAway {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}
/*Product section*/
/* line 221, ../sass/style.scss */
.products {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #fff;
  padding-top: 5.71429%;
  padding: 24px 0;
}

@media (min-width: 300px) {
  /* line 228, ../sass/style.scss */
  .product-spotlight {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 24px;
  }
}
@media (min-width: 733px) {
  /* line 228, ../sass/style.scss */
  .product-spotlight {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
  }
  /* line 235, ../sass/style.scss */
  .product-spotlight:last-child {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 228, ../sass/style.scss */
  .product-spotlight {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
    /*Force last column to remove right margin*/
  }
  /* line 242, ../sass/style.scss */
  .product-spotlight:last-child {
    float: right;
    margin-right: 0;
  }
}

/* line 248, ../sass/style.scss */
.product-content {
  border-right: 1px solid #ededed;
  border-left: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  text-align: center;
  padding: 24px 34px 88px;
}

/* line 256, ../sass/style.scss */
.buy-button {
  background: #0065bd;
  padding: 11px 15px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}
@media (min-width: 300px) {
  /* line 256, ../sass/style.scss */
  .buy-button {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    height: 40px;
  }
}
/* line 266, ../sass/style.scss */
.buy-button:hover {
  color: #fff;
  background: #2893ff;
}

/*Order by 9pm title*/
@media (min-width: 300px) {
  /* line 275, ../sass/style.scss */
  .order-by {
    display: none;
  }
}
@media (min-width: 733px) {
  /* line 275, ../sass/style.scss */
  .order-by {
    display: block;
  }
}
/* line 282, ../sass/style.scss */
.order-by a {
  color: #495f73;
  font-size: 22px;
  font-weight: 200;
}

/*Recommendations/New In area*/
/* line 292, ../sass/style.scss */
.recommendations {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 0 0 24px 0;
}
/* line 295, ../sass/style.scss */
.recommendations img {
  max-width: 120px;
  margin: 0 auto;
}

/* Styles for pure CSS tabs*/
/* line 304, ../sass/style.scss */
.tab-wrap {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  border: 1px solid #d5dade;
}

/* line 310, ../sass/style.scss */
#rec-items,
#new-tab {
  display: none;
}

/* line 315, ../sass/style.scss */
input[name="tab"] {
  display: none;
}

/* line 319, ../sass/style.scss */
label {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  background: #f0f0f0;
  text-align: center;
  display: inline-block;
  line-height: 50px;
  height: 50px;
  border-bottom: 1px solid #d5dade;
}

/* line 329, ../sass/style.scss */
label:hover {
  cursor: pointer;
  color: #444f51;
}

/* line 334, ../sass/style.scss */
#rec-items,
#new-items {
  display: none;
  border-bottom: 1px solid #ededed;
  padding: 0 5% 10% 5%;
}
@media (min-width: 300px) {
  /* line 334, ../sass/style.scss */
  #rec-items,
  #new-items {
    padding: 0 2%;
  }
}

/* line 344, ../sass/style.scss */
#new-tab:checked ~ #new-items,
#rec-tab:checked ~ #rec-items {
  display: block;
  overflow: auto;
}

/* line 350, ../sass/style.scss */
input[name="tab"]:checked + label {
  background: #fff;
  border-bottom: 1px solid #fff;
}

/* line 355, ../sass/style.scss */
input[name="tab"]:not(:checked) + label {
  color: #728391;
  background: #f1f2f2;
  border-bottom: 1px solid #d5dade;
}
/* line 359, ../sass/style.scss */
input[name="tab"]:not(:checked) + label:hover {
  color: #2893ff;
  transition: all 0.3 ease-in;
}

/* line 365, ../sass/style.scss */
#new-tab:checked + label {
  border-left: 1px solid #d5dade;
}

/* line 369, ../sass/style.scss */
#rec-tab:checked + label {
  border-right: 1px solid #d5dade;
}

/* line 373, ../sass/style.scss */
.gallery-item {
  text-align: center;
  padding-bottom: 60px;
  margin-top: 24px;
  /*Selects every 4th gallery item to remove after margin*/
}
@media (min-width: 300px) {
  /* line 373, ../sass/style.scss */
  .gallery-item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 48.57143%;
    float: left;
    margin-right: 2.85714%;
  }
  /* line 376, ../sass/style.scss */
  .gallery-item:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 733px) {
  /* line 373, ../sass/style.scss */
  .gallery-item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
    /*Negate mobile gutter*/
  }
  /* line 383, ../sass/style.scss */
  .gallery-item:nth-child(2n) {
    margin-right: 2.85714%;
    float: left;
  }
  /* line 387, ../sass/style.scss */
  .gallery-item:nth-child(3n) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 373, ../sass/style.scss */
  .gallery-item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 22.85714%;
    float: left;
    margin-right: 2.85714%;
    /*Negate mobile gutter*/
    /*Negate laptop gutter*/
  }
  /* line 394, ../sass/style.scss */
  .gallery-item:nth-child(2n) {
    margin-right: 2.85714%;
    float: left;
  }
  /* line 399, ../sass/style.scss */
  .gallery-item:nth-child(3n) {
    margin-right: 2.85714%;
    float: left;
  }
  /* line 403, ../sass/style.scss */
  .gallery-item:nth-child(4n) {
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 300px) {
  /* line 413, ../sass/style.scss */
  .rating-box {
    color: #FA9E1C;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  /* line 413, ../sass/style.scss */
  .rating-box {
    font-size: 18px;
  }
}

/* line 423, ../sass/style.scss */
.product-name {
  margin-top: 0;
  margin-bottom: 6px;
}
/* line 426, ../sass/style.scss */
.product-name a {
  color: #495f73;
  font-size: 14px;
  font-weight: 700;
}

/* line 433, ../sass/style.scss */
.product-price {
  margin-top: 0;
  color: #495f73;
  font-size: 16px;
}

/* line 439, ../sass/style.scss */
.product-button {
  background: #0065bd;
  padding: 11px 15px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}
/* line 445, ../sass/style.scss */
.product-button:hover {
  color: #fff;
  background: #2893ff;
}

/*Social section*/
/* line 454, ../sass/style.scss */
.social {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 24px 0;
  background: #f1f2f2;
}

/* line 460, ../sass/style.scss */
.social-title {
  text-align: center;
  color: #495f73;
  font-size: 22px;
}
@media (min-width: 300px) {
  /* line 460, ../sass/style.scss */
  .social-title {
    margin: 0 0 24px 0;
  }
}
@media (min-width: 733px) {
  /* line 460, ../sass/style.scss */
  .social-title {
    margin: 48px 0 24px 0;
  }
}

/* line 472, ../sass/style.scss */
.social-item {
  background: #fff;
  padding: 12px 24px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #b7bfc6;
  min-height: 230px;
  color: #495f73;
  line-height: 24px;
}
@media (min-width: 300px) {
  /* line 472, ../sass/style.scss */
  .social-item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 24px;
    text-align: center;
  }
}
@media (min-width: 733px) {
  /* line 472, ../sass/style.scss */
  .social-item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
    min-height: 320px;
  }
}
@media (min-width: 1200px) {
  /* line 472, ../sass/style.scss */
  .social-item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
    margin-bottom: 0;
    text-align: left;
    min-height: auto;
  }
}
/* line 495, ../sass/style.scss */
.social-item:last-child {
  float: right;
  margin-right: 0;
}

/* line 500, ../sass/style.scss */
.social-header {
  padding-bottom: 6px;
  border-bottom: 1px solid #ededed;
  margin-bottom: 12px;
}
@media (min-width: 300px) {
  /* line 500, ../sass/style.scss */
  .social-header {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  /* line 500, ../sass/style.scss */
  .social-header {
    text-align: left;
  }
}
/* line 510, ../sass/style.scss */
.social-header h3 {
  margin: 0;
  line-height: 18px;
  padding: 0;
}
/* line 514, ../sass/style.scss */
.social-header h3 a {
  font-size: 18px;
  text-transform: none;
  font-weight: 300;
  color: #495f73;
}
/* line 522, ../sass/style.scss */
.social-header a i {
  font-size: 30px;
}
@media (min-width: 300px) {
  /* line 522, ../sass/style.scss */
  .social-header a i {
    float: none;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  /* line 522, ../sass/style.scss */
  .social-header a i {
    float: left;
    margin: 0 10px 0 0;
  }
}

/* line 536, ../sass/style.scss */
.twitter-icon,
.facebook-icon,
.google-plus-icon {
  height: 28px;
  width: 28px;
  margin-right: 12px;
  position: relative;
  float: left;
}

/* line 546, ../sass/style.scss */
.twitter-icon {
  color: #5EAADE;
}

/* line 550, ../sass/style.scss */
.facebook-icon {
  color: #3A5899;
}

/* line 554, ../sass/style.scss */
.google-plus-icon {
  color: #d34836;
}

/* line 558, ../sass/style.scss */
.followers {
  color: #b7bfc6;
  margin: 0;
  line-height: 24px;
}

/* line 564, ../sass/style.scss */
.social-handle {
  font-weight: 700;
  margin-bottom: 0;
  color: #495f73;
}

/* line 570, ../sass/style.scss */
.social-quote {
  margin-bottom: 24px;
  margin-top: 0;
}

/* line 575, ../sass/style.scss */
.social-subquote {
  margin-bottom: 24px;
  margin-top: 0;
  font-size: 12px;
}

/*Promo banner section*/
/* line 584, ../sass/style.scss */
.promo {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #fff;
  padding: 24px 0 48px 0;
}

/* line 590, ../sass/style.scss */
.promo-item {
  color: #495f73;
  padding-top: 24px;
}
@media (min-width: 300px) {
  /* line 590, ../sass/style.scss */
  .promo-item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  /* line 590, ../sass/style.scss */
  .promo-item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 48.57143%;
    float: left;
    margin-right: 2.85714%;
    text-align: left;
  }
  /* line 598, ../sass/style.scss */
  .promo-item:nth-child(2n+1) {
    margin-right: 0;
  }
}

/* line 606, ../sass/style.scss */
.promo-item-icon {
  width: 36px;
  height: 36px;
  background: #495f73;
  text-align: center;
  float: left;
}
@media (min-width: 300px) {
  /* line 606, ../sass/style.scss */
  .promo-item-icon {
    float: none;
    margin: 24px auto;
  }
}
@media (min-width: 1200px) {
  /* line 606, ../sass/style.scss */
  .promo-item-icon {
    float: left;
    margin: 5px 10px 42px 0;
  }
}
/* line 621, ../sass/style.scss */
.promo-item-icon i {
  color: #fff;
  line-height: 36px;
  font-size: 26px;
}

/* line 628, ../sass/style.scss */
.promo-item-header {
  display: inline;
  margin: 0;
}
/* line 631, ../sass/style.scss */
.promo-item-header a {
  color: #495f73;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

/* line 639, ../sass/style.scss */
.promo-item-text {
  margin: 0;
}
@media (min-width: 300px) {
  /* line 639, ../sass/style.scss */
  .promo-item-text {
    max-width: 400px;
    margin: 0 auto;
  }
}
@media (min-width: 733px) {
  /* line 639, ../sass/style.scss */
  .promo-item-text {
    max-width: 100%;
  }
}
/* line 648, ../sass/style.scss */
.promo-item-text a {
  color: #495f73;
  font-size: 16px;
  line-height: 24px;
}

/* line 655, ../sass/style.scss */
footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 659, ../sass/style.scss */
.newsletter {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #f1f2f2;
  text-align: center;
  color: #495f73;
  line-height: 24px;
  padding-bottom: 24px;
}
/* line 666, ../sass/style.scss */
.newsletter h1 {
  font-weight: 300;
}

/* line 671, ../sass/style.scss */
.newsletter-text {
  margin: 6px 0 24px 0;
}

/* line 675, ../sass/style.scss */
.email-input {
  height: 36px;
  display: inline-block;
  padding: 0 0 0 8px;
  line-height: 36px;
  border: 1px solid #ccc;
  position: relative;
  color: #728391;
  font-size: 16px;
}
@media (min-width: 300px) {
  /* line 675, ../sass/style.scss */
  .email-input {
    width: 70%;
  }
}
@media (min-width: 733px) {
  /* line 675, ../sass/style.scss */
  .email-input {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  /* line 675, ../sass/style.scss */
  .email-input {
    width: 30%;
  }
}

/* line 695, ../sass/style.scss */
.sign-up-btn {
  height: 38px;
  border: 0;
  position: relative;
  top: 0;
  right: 5px;
  padding: 10px 12px;
  margin-bottom: 0;
  border-radius: 0 4px 4px 0;
  text-transform: uppercase;
  color: #fff;
  background: #0060c1;
  cursor: pointer;
  line-height: 19px;
}
/* line 709, ../sass/style.scss */
.sign-up-btn:hover {
  background: #2893ff;
  -moz-transition: all, ease-in 0.3s;
  -o-transition: all, ease-in 0.3s;
  -webkit-transition: all, ease-in 0.3s;
  transition: all, ease-in 0.3s;
}

/* line 716, ../sass/style.scss */
.accolades {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #495F73;
  padding-bottom: 24px;
}
@media (min-width: 300px) {
  /* line 716, ../sass/style.scss */
  .accolades {
    display: none;
  }
}
@media (min-width: 733px) {
  /* line 716, ../sass/style.scss */
  .accolades {
    display: block;
  }
}

/* line 728, ../sass/style.scss */
.acc-item {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 17.71429%;
  float: left;
  margin-right: 2.85714%;
  padding: 20px;
  text-align: center;
}
/* line 732, ../sass/style.scss */
.acc-item:last-child {
  float: right;
  margin-right: 0;
}
/* line 735, ../sass/style.scss */
.acc-item > i {
  color: #DADEE2;
}
@media (min-width: 300px) {
  /* line 735, ../sass/style.scss */
  .acc-item > i {
    font-size: 3em;
  }
}
@media (min-width: 1200px) {
  /* line 735, ../sass/style.scss */
  .acc-item > i {
    font-size: 6em;
  }
}

/* line 746, ../sass/style.scss */
.acc-item-text {
  color: #fff;
  font-size: 12px;
  margin: 0;
}
/* line 750, ../sass/style.scss */
.acc-item-text:first-of-type {
  margin-top: 20px;
}

/* line 755, ../sass/style.scss */
.links {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #303E4B;
}
@media (min-width: 733px) {
  /* line 755, ../sass/style.scss */
  .links {
    padding-top: 24px;
  }
}

@media (min-width: 300px) {
  /* line 764, ../sass/style.scss */
  .links-third {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    padding: 24px 0;
    border-bottom: 1px solid #293540;
  }
  /* line 770, ../sass/style.scss */
  .links-third:last-child {
    border-bottom: none;
  }
}
@media (min-width: 733px) {
  /* line 764, ../sass/style.scss */
  .links-third {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 48.57143%;
    float: left;
    margin-right: 2.85714%;
    padding: 0 0 12px 0;
    text-align: left;
  }
  /* line 778, ../sass/style.scss */
  .links-third:nth-child(2) {
    margin-right: 0;
    float: left;
  }
  /* line 782, ../sass/style.scss */
  .links-third:nth-child(3) {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 764, ../sass/style.scss */
  .links-third {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
  }
  /* line 788, ../sass/style.scss */
  .links-third:nth-child(2) {
    margin-right: 2.85714%;
  }
  /* line 791, ../sass/style.scss */
  .links-third:nth-child(3) {
    margin-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
  }
  /* line 795, ../sass/style.scss */
  .links-third:last-child {
    float: right;
    margin-right: 0;
  }
}
/* line 799, ../sass/style.scss */
.links-third ul {
  line-height: 24px;
}
/* line 802, ../sass/style.scss */
.links-third a {
  font-size: 12px;
  color: #b7bfc6;
}
/* line 805, ../sass/style.scss */
.links-third a:hover {
  color: #fff;
  -moz-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  -webkit-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
}

/* line 814, ../sass/style.scss */
.links-third-left,
.links-third-right {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 48.57143%;
  float: left;
}

@media (min-width: 300px) {
  /* line 819, ../sass/style.scss */
  .community,
  .payment {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    padding-bottom: 24px;
  }
  /* line 825, ../sass/style.scss */
  .community .links-title:last-of-type,
  .payment .links-title:last-of-type {
    margin-top: 24px;
  }
}
@media (min-width: 733px) {
  /* line 819, ../sass/style.scss */
  .community,
  .payment {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 48.57143%;
    float: left;
    margin-right: 2.85714%;
  }
  /* line 831, ../sass/style.scss */
  .community:last-child,
  .payment:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 819, ../sass/style.scss */
  .community,
  .payment {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 48.57143%;
    float: left;
    margin-right: 2.85714%;
    text-align: left;
  }
  /* line 838, ../sass/style.scss */
  .community .links-title:last-of-type,
  .payment .links-title:last-of-type {
    margin-top: 0;
  }
  /* line 841, ../sass/style.scss */
  .community:last-child,
  .payment:last-child {
    margin-right: 0;
  }
}

/* line 847, ../sass/style.scss */
.links-title {
  margin: 0 0 12px 0;
}
/* line 849, ../sass/style.scss */
.links-title a {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

@media (min-width: 300px) {
  /* line 856, ../sass/style.scss */
  .social-links {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  /* line 856, ../sass/style.scss */
  .social-links {
    display: block;
  }
}
/* line 863, ../sass/style.scss */
.social-links li {
  display: inline;
  float: left;
  margin-right: 5px;
}
/* line 868, ../sass/style.scss */
.social-links i {
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 18px;
  color: #303E4B;
}
/* line 875, ../sass/style.scss */
.social-links i:hover {
  color: #fff;
}

@media (min-width: 300px) {
  /* line 881, ../sass/style.scss */
  .payment-links {
    display: inline-block;
  }
}

/* line 887, ../sass/style.scss */
.facebook-icon-wrap {
  float: left;
  background: #D5D8DB;
}
@media (min-width: 300px) {
  /* line 887, ../sass/style.scss */
  .facebook-icon-wrap {
    height: 36px;
    width: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1200px) {
  /* line 887, ../sass/style.scss */
  .facebook-icon-wrap {
    height: 24px;
    width: 24px;
    line-height: 24px;
  }
}
/* line 21, ../sass/style.scss */
.facebook-icon-wrap:hover {
  background: #3A5899;
  -moz-transition: background, ease-in 0.3s;
  -o-transition: background, ease-in 0.3s;
  -webkit-transition: background, ease-in 0.3s;
  transition: background, ease-in 0.3s;
}

/* line 891, ../sass/style.scss */
.twitter-icon-wrap {
  float: left;
  background: #D5D8DB;
}
@media (min-width: 300px) {
  /* line 891, ../sass/style.scss */
  .twitter-icon-wrap {
    height: 36px;
    width: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1200px) {
  /* line 891, ../sass/style.scss */
  .twitter-icon-wrap {
    height: 24px;
    width: 24px;
    line-height: 24px;
  }
}
/* line 21, ../sass/style.scss */
.twitter-icon-wrap:hover {
  background: #5EAADE;
  -moz-transition: background, ease-in 0.3s;
  -o-transition: background, ease-in 0.3s;
  -webkit-transition: background, ease-in 0.3s;
  transition: background, ease-in 0.3s;
}

/* line 895, ../sass/style.scss */
.google-icon-wrap {
  float: left;
  background: #D5D8DB;
}
@media (min-width: 300px) {
  /* line 895, ../sass/style.scss */
  .google-icon-wrap {
    height: 36px;
    width: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1200px) {
  /* line 895, ../sass/style.scss */
  .google-icon-wrap {
    height: 24px;
    width: 24px;
    line-height: 24px;
  }
}
/* line 21, ../sass/style.scss */
.google-icon-wrap:hover {
  background: #DE2621;
  -moz-transition: background, ease-in 0.3s;
  -o-transition: background, ease-in 0.3s;
  -webkit-transition: background, ease-in 0.3s;
  transition: background, ease-in 0.3s;
}

/* line 899, ../sass/style.scss */
.youtube-icon-wrap {
  float: left;
  background: #D5D8DB;
}
@media (min-width: 300px) {
  /* line 899, ../sass/style.scss */
  .youtube-icon-wrap {
    height: 36px;
    width: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1200px) {
  /* line 899, ../sass/style.scss */
  .youtube-icon-wrap {
    height: 24px;
    width: 24px;
    line-height: 24px;
  }
}
/* line 21, ../sass/style.scss */
.youtube-icon-wrap:hover {
  background: #DE2621;
  -moz-transition: background, ease-in 0.3s;
  -o-transition: background, ease-in 0.3s;
  -webkit-transition: background, ease-in 0.3s;
  transition: background, ease-in 0.3s;
}

/* line 903, ../sass/style.scss */
.instagram-icon-wrap {
  float: left;
  background: #D5D8DB;
}
@media (min-width: 300px) {
  /* line 903, ../sass/style.scss */
  .instagram-icon-wrap {
    height: 36px;
    width: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1200px) {
  /* line 903, ../sass/style.scss */
  .instagram-icon-wrap {
    height: 24px;
    width: 24px;
    line-height: 24px;
  }
}
/* line 21, ../sass/style.scss */
.instagram-icon-wrap:hover {
  background: #984C84;
  -moz-transition: background, ease-in 0.3s;
  -o-transition: background, ease-in 0.3s;
  -webkit-transition: background, ease-in 0.3s;
  transition: background, ease-in 0.3s;
}

/* line 908, ../sass/style.scss */
.payment-links li {
  display: inline;
  float: left;
}
/* line 912, ../sass/style.scss */
.payment-links i {
  width: 42px;
  height: 30px;
  line-height: 24px;
  color: #D5D8DB;
  font-size: 24px;
}

/* line 921, ../sass/style.scss */
.copyright {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #303e4b;
}

/* line 926, ../sass/style.scss */
.address {
  margin: 0;
  color: #728391;
  font-size: 12px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 65.71429%;
  float: left;
  margin-right: 2.85714%;
  line-height: 18px;
}

/* line 934, ../sass/style.scss */
.footer-logo {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 31.42857%;
  float: left;
  text-transform: uppercase;
  color: #728391;
  text-align: right;
  margin: 0;
}

/* line 942, ../sass/style.scss */
.thicker {
  font-weight: 700;
}

/* line 946, ../sass/style.scss */
.copyright-border {
  padding: 12px 0;
  border-top: 1px solid #293540;
  border-bottom: 1px solid #293540;
}

/* line 952, ../sass/style.scss */
.copyright-bottom {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 110px;
}

/* line 957, ../sass/style.scss */
.copyright-product {
  text-align: right;
  line-height: 4em;
}
/* line 960, ../sass/style.scss */
.copyright-product i {
  font-size: 4em;
  vertical-align: middle;
}
/* line 964, ../sass/style.scss */
.copyright-product a {
  text-decoration: underline;
  color: #A6AEB6;
}
/* line 967, ../sass/style.scss */
.copyright-product a:hover {
  color: #fff;
}
